<h4>Data Exclusions</h4>
<p>
  A comma delimited list of field names that should be removed from any error report data
  (e.g., extended data properties, form fields, cookies and query parameters). You can also
  specify a <a href="https://github.com/exceptionless/Exceptionless/wiki/Security" target="_blank"
               title="Data Exclusions documentation">field name with wildcards (<strong>*</strong>)</a>
  to specify starts with, ends with, or contains just to be extra safe.
</p>
<input type="text" class="form-control" placeholder="Example: *Password*, CreditCard*, SSN"
       ng-model="vm.data_exclusions"
       ng-model-options="{ debounce: 500 }"
       ng-change="vm.saveDataExclusion()"/>

<h4>Error Stacking</h4>
<h5>User Namespaces</h5>
<p>
  A comma delimited list of the namespace names that your applications code belongs to.
  If this value is set, only methods inside of these namespaces will be considered as stacking targets.
</p>
<input type="text" class="form-control" placeholder="Example: Contoso"
       ng-model="vm.user_namespaces"
       ng-model-options="{ debounce: 500 }"
       ng-change="vm.saveUserNamespaces()"/>

<h5>Common Methods</h5>
<p>
  A comma delimited list of common method names that should not be used as stacking targets.
  This is useful when your code contains shared utility methods that throw a lot of errors.
</p>
<input type="text" class="form-control" placeholder="Example: Assert, Writeline"
       ng-model="vm.common_methods"
       ng-model-options="{ debounce: 500 }"
       ng-change="vm.saveCommonMethods()"/>

<h4>Spam Detection</h4>
<p>A comma delimited list of user agents that should be ignored.</p>
<input type="text" class="form-control" placeholder="Example: SpamBot"
       ng-model="vm.user_agents"
       ng-model-options="{ debounce: 500 }"
       ng-change="vm.saveUserAgents()"/>

<div class="checkbox">
  <label class="checks">
    <input type="checkbox"
           ng-model="vm.project.delete_bot_data_enabled"
           ng-model-options="{ debounce: 500 }"
           ng-change="vm.saveDeleteBotDataEnabled()">
    <i></i>
    Reduce noise by automatically hiding high volumes of events coming from a single client IP address.
  </label>
</div>
