<h4>Data Exclusions</h4>

<p>
  A comma delimited list of field names that should be removed from any error report data
  (e.g., extended data properties, form fields, cookies and query parameters). You can also
  specify a <a href="https://github.com/exceptionless/Exceptionless/wiki/Security" target="_blank"
               title="Data Exclusions documentation">field name with wildcards (<strong>*</strong>)</a>
  to specify starts with, ends with, or contains just to be extra safe.
</p>
<input type="text" class="form-control" placeholder="Example: *Password*, CreditCard*, SSN"
       ng-model="vm.data_exclusions"
       ng-model-options="{ debounce: 500 }"
       ng-change="vm.saveDataExclusion()"/>

<h4>Spam Detection</h4>
<p>If the system detects a high volume of events coming from the same client IP address, it will
  automatically mark those events as hidden to reduce system noise.</p>

<div class="checkbox">
  <label class="i-checks">
    <input type="checkbox"
           ng-model="vm.project.delete_bot_data_enabled"
           ng-model-options="{ debounce: 500 }"
           ng-change="vm.saveDeleteBotDataEnabled()">
    <i></i>
    Automatically hide bot data
  </label>
</div>
