@import "../../less/variables.less";

.navbar-nav-search {
  margin: 0px;
  width: 79%;
  .btn-dark {
    background-color: #2C2C2C;
  }
  .dropdown-menu {
    min-width: 300px;
  }
}

.navbar-nav-search .input-group-btn {
  width: 1% !important;
}

.navbar-nav-search {
  @media (max-width: @screen-xs-max) {
    width: 100%;
  }

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    width: 79%;
  }

  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    width: 85%;
  }

  @media (min-width: @screen-lg-min) {
    width: 88%;
  }
}

.search-panel {
  border-radius: 0px;
  padding: 10px;
}

div.input-group-btn div.inline:not(:first-child) .btn {
  border-radius:0;
  margin-left: -3px
}

input#search.form-control {
  background-color: #423D3D;
  border-color:#545454;
  color:#fff;
}

input#search.form-control:hover {
  border-color:#538802;
}

input#search.form-control:focus {
  background-color:#D6D6D6;
  border-color:#538802;
  color:#0C0C0C;
}

.error-tooltip .tooltip-inner  {
  color: @alert-danger-text;
  background-color: @alert-danger-bg;
}

.error-tooltip .tooltip-arrow {
  border-bottom-color: @alert-danger-bg;
  margin:0.1px;
}
