<ul class="nav navbar-nav navbar-nav-search" refresh-on="filterChanged" refresh-action="vm.updateFilter()">
  <div class="navbar-form " role="search">
    <div class="input-group w-full">
      <div class="input-group-btn">
        <project-filter></project-filter>
        <date-filter></date-filter>
      </div>

      <input id="search" name="search" type="search" class="form-control" placeholder="Search"
             ng-model="vm.filter"
             ng-model-options="{ debounce: 500 }"
             ng-change="vm.setSearchFilter(vm.filter)"
             search-filter-validator
             autofocus />

      <div class="input-group-btn">
        <a class="btn btn-dark" href="https://github.com/exceptionless/Exceptionless/wiki/Filtering-Searching" target="_blank" title="Search Documentation" aria-label="Search Documentation">
          <i class="fa fa-fw fa-question-circle"></i>
        </a>
      </div>
    </div>
  </div>
</ul>
