<div>
    <div class="container w-auto-xs">
        <div class="text-center m-t">
            <a href="https://exceptionless.com">
                <img src="assets/img/exceptionless-350.png" alt="logo"/>
            </a>
        </div>
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <div class="col">
                <div class="wrapper-md">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form name="loginForm" role="form" class="form-horizontal form-validation" autocomplete="on" (ngSubmit)="onSubmit(loginForm.valid)" #loginForm="ngForm">
                                <div class="form-horizontal col-sm-offset-2">
                                    <h4>Log in</h4>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input id="email" name="email" type="email" email="true" class="form-control" [(ngModel)]="model.email" placeholder="Email Address" x-autocompletetype="email" autocorrect="off" autofocus required #email="ngModel"/>

                                        <div class="error" *ngIf="(email.invalid && (email.dirty || email.touched)) || submitted">
                                            <small [hidden]="!email.errors?.required">Email Address is required.</small>
                                            <small [hidden]="!email.errors?.email" *ngIf="!email.errors?.required">It muse be email address.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password" class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10">
                                        <input id="password" name="password" type="password" class="form-control" [(ngModel)]="model.password" placeholder="Password" required minlength="6" maxlength="101" #password="ngModel" />

                                        <div class="error" *ngIf="(password.invalid && (password.dirty || password.touched)) || submitted">
                                            <small [hidden]="!password.errors?.required">Password is required</small>
                                            <small [hidden]="!password.errors?.minlength">Password must be at least 6 characters long</small>
                                            <small [hidden]="!password.errors?.maxlength">Password must be less than 101 characters long</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <input type="submit" role="button" id="login" class="btn btn-primary lgn-btn m-r-xs" value="Log In" />
                                        <a class="btn btn-default" routerLink="/signup">Signup</a>
                                        <p><a ui-sref="auth.forgot-password">Forgot password?</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="text-center" [innerHTML]="'NOTICE_SIGNINGUP'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
