<form name="addUserForm" role="form" class="form-validation" #addUserForm="ngForm">
    <div class="form-group">
        <label for="url">{{ 'Email Address' | translate }}</label>
        <input id="url" name="url" type="url" class="form-control input-lg" placeholder="Email Address"
               [(ngModel)]="data.email"
               (ngModelChange)="setEmail($event)"
               required
               type = "email"
               #email="ngModel"
               autofocus />

        <div class="error" *ngIf="(email.invalid && (email.dirty || email.touched)) || submitted">
            <small [hidden]="!email.errors?.required">{{ 'Email Address is required.' | translate }}</small>
            <small [hidden]="!email.errors?.email">{{ 'Email Address is required.' | translate }}</small>
        </div>
    </div>
</form>
