<form name="addOrganizationForm" role="form" class="form-validation">
  <div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title">New Organization</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="name">Organization Name</label>
      <input id="name" name="name" type="text" class="form-control input-lg" ng-model="vm.data.name" placeholder="Organization Name" required />
      <div class="error" ng-messages="addOrganizationForm.name.$error">
        <small ng-message="required">Organization Name is required.</small>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <input type="submit" class="btn btn-default" ng-click="vm.save(addOrganizationForm.$valid)" value="Save" />
    <button type="button" class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
  </div>
</form>
