<app-organization-notification></app-organization-notification>

<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-calendar"></i> Event Occurrence

                <div class="pull-right hidden-print">
                    <a ngxClipboard [cbContent]="event_json" (cbOnSuccess)="copied()" [hidden]="!event['stack_id'] || !clipboardSupported" class="btn btn-default btn-xs fa fa-code hidden-xs" role="button" title="Copy Event JSON to Clipboard"></a>
                    <a routerLink="/type/event/{{ event['stack_id'] }}" [ngClass]="{'disabled': !event['stack_id']}" class="btn btn-default btn-xs fa fa-fw fa-caret-up" role="button" title="Go To Stack"></a>
                    <a routerLink="/type/event/{{ previous }}" [queryParams]="{ tab: getCurrentTab() }" [ngClass]="{'disabled': !previous}" class="btn btn-default btn-xs fa fa-fw fa-caret-left" role="button" title="Previous Occurrence"></a>
                    <a routerLink="/type/event/{{ next }}" [queryParams]="{ tab: getCurrentTab() }" [ngClass]="{'disabled': !next}" class="btn btn-default btn-xs fa fa-fw fa-caret-right" role="button" title="Next Occurrence"></a>
                </div>
            </div>

            <div class="panel-body">
                <ngb-tabset class="tab-container">
                    <ngb-tab *ngFor="let tab of tabs" title="{{ tab['title'] }}">
                        <ng-template ngbTabContent>
                            <app-event-tabs [tab]="tab['template_key']"></app-event-tabs>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>
