<div>
  <app-rate-limit></app-rate-limit>

  <div class="container w-auto-xs">
      <div class="text-center m-t">
          <a href="https://exceptionless.com">
              <img src="assets/img/exceptionless-350.png" alt="logo" />
          </a>
      </div>

      <div class="hbox hbox-auto-xs hbox-auto-sm">
          <div class="col">
              <div class="wrapper-md">
                  <div class="panel panel-default">
                      <div class="panel-heading"><strong>{{ 'Change password' | translate }}</strong></div>
                      <div class="panel-body">
                          <form name="passwordForm" role="form" class="form-validation form-horizontal" #passwordForm="ngForm">
                              <div class="form-group">
                                  <label for="password" class="col-sm-2 control-label">{{ 'New Password' | translate }}</label>
                                  <div class="col-sm-10">
                                      <input id="password" name="password" type="password" class="form-control" [(ngModel)]="model.password" minlength="6" maxlength="100" required autofocus #password="ngModel"/>
                                      <div class="error" *ngIf="(password.invalid && (password.dirty || password.touched))">
                                          <small [hidden]="!password.errors?.required">{{ 'New Password is required.' | translate }}</small>
                                          <small [hidden]="!password.errors?.minlength">{{ 'New Password must be at least 6 characters long.' | translate }}</small>
                                          <small [hidden]="!password.errors?.maxlength">{{ 'New Password must be less than 101 characters long.' | translate }}</small>
                                      </div>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label for="confirmPassword" class="col-sm-2 control-label">{{ 'Confirm password' | translate }}</label>
                                  <div class="col-sm-10">
                                      <!-- TODO:YAG full review ?!
                                      <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" [(ngModel)]="model.confirm_password" minlength="6" maxlength="100" required="true" #confirm_password="ngModel"/>
                                      <div class="error" *ngIf="(confirm_password.invalid && (confirm_password.dirty || confirm_password.touched))">
                                          <small [hidden]="password.password == password.confirm_password">{{ 'New Password and Confirmation Password fields should not match.' | translate }}</small>
                                          <small [hidden]="!confirm_password.errors?.required">{{ 'Confirm Password is required.' | translate }}</small>
                                          <small [hidden]="!confirm_password.errors?.minlength">{{ 'Confirm Password must be at least 6 characters long.' | translate }}</small>
                                          <small [hidden]="!confirm_password.errors?.maxlength">{{ 'Confirm Password must be less than 101 characters long.' | translate }}</small>
                                      </div>
                                      --> TODO
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-sm-offset-2 col-sm-10">
                                      <input type="submit" role="button" class="btn btn-primary" (click)="changePassword(passwordForm.valid)" value="{{ 'Change Password' | translate }}" />
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
