<div class="app-aside hidden-xs bg-dark">
    <div class="aside-wrap">
        <div class="navi-wrap">
            <div class="clearfix hidden-xs text-center hide" id="aside-user">
                <div class="line dk hidden-folded"></div>
            </div>

            <nav class="navi">
                <ul class="nav left-menu">
                    <li [active]="types.exceptions">
                        <a>
                            <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                            </span>
                            <i class="fa fa-warning fa-fw"></i>
                            <span>{{ 'Exceptions' | translate }}</span>
                        </a>
                        <ul class="nav nav-sub dk">
                            <li class="nav-sub-header">Exceptions</li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.exceptions }}/dashboard">
                                    <i class="fa fa-dashboard fa-fw"></i>
                                    <span>{{ 'Exception Dashboard' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.exceptions }}/recent">
                                    <i class="fa fa-calendar fa-fw"></i>
                                    <span>{{ 'Most Recent Exceptions' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.exceptions }}/frequent">
                                    <i class="fa fa-signal fa-fw"></i>
                                    <span>{{ 'Most Frequent Exceptions' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.exceptions }}/users">
                                    <i class="fa fa-users fa-fw"></i>
                                    <span>{{ 'Most Users' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.exceptions }}/new">
                                    <i class="fa fa-asterisk fa-fw"></i>
                                    <span>{{ 'New Exception' |translate }}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li [active]="types.log">
                        <a>
                            <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                            </span>
                            <i class="fa fa-file-text-o fa-fw"></i>
                            <span>{{ 'Log Messages' | translate }}</span>
                        </a>
                        <ul class="nav nav-sub dk" auto-active>
                            <li class="nav-sub-header">{{ 'Log Messages' | translate }}</li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.log }}/dashboard">
                                    <i class="fa fa-dashboard fa-fw"></i>
                                    <span>{{ 'Message Dashboard' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.log }}/recent">
                                    <i class="fa fa-calendar fa-fw"></i>
                                    <span>{{ 'Most Recent Messages' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.log }}/frequent">
                                    <i class="fa fa-signal fa-fw"></i>
                                    <span>{{ 'Most Frequent Messages' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.log }}/users">
                                    <i class="fa fa-users fa-fw"></i>
                                    <span>{{ 'Most Users' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.log }}/new">
                                    <i class="fa fa-asterisk fa-fw"></i>
                                    <span>{{ 'New LogMessage' | translate }}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li [active]="types.broken">
                        <a class="auto">
                            <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                            </span>
                            <i class="fa fa-unlink fa-fw"></i>
                            <span>{{ 'Broken Links' | translate }}</span>
                        </a>
                        <ul class="nav nav-sub dk" auto-active>
                            <li class="nav-sub-header">{{ 'Broken Links' | translate }}</li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.broken }}/dashboard">
                                    <i class="fa fa-dashboard fa-fw"></i>
                                    <span>{{ 'Broken Links Dashboard' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.broken }}/recent">
                                    <i class="fa fa-calendar fa-fw"></i>
                                    <span>{{ 'Most Recent Links' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.broken }}/frequent">
                                    <i class="fa fa-signal fa-fw"></i>
                                    <span>{{ 'Most Frequent Links' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.broken }}/users">
                                    <i class="fa fa-users fa-fw"></i>
                                    <span>{{ 'Most Users' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.broken }}/new">
                                    <i class="fa fa-asterisk fa-fw"></i>
                                    <span>{{ 'New BrokenLink' | translate }}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li [active]="types.feature">
                        <a class="auto">
                            <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                            </span>
                            <i class="fa fa-check-square-o fa-fw"></i>
                            <span>{{ 'Feature Usages' | translate }}</span>
                        </a>
                        <ul class="nav nav-sub dk" auto-active>
                            <li class="nav-sub-header">{{ 'Feature Usages' | translate }}</li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.feature }}/dashboard">
                                    <i class="fa fa-dashboard fa-fw"></i>
                                    <span>{{ 'Feature Dashboard' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.feature }}/recent">
                                    <i class="fa fa-calendar fa-fw"></i>
                                    <span>{{ 'Most Recent Features' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.feature }}/frequent">
                                    <i class="fa fa-signal fa-fw"></i>
                                    <span>{{ 'Most Frequent Features' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.feature }}/users">
                                    <i class="fa fa-users fa-fw"></i>
                                    <span>{{ 'Most Users' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ type }}{{ filterUrlPattern }}{{ types.feature }}/new">
                                    <i class="fa fa-asterisk fa-fw"></i>
                                    <span>{{ 'New FeatureUsage' | translate }}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li [active]="'events'">
                        <a class="auto">
                            <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                            </span>
                            <i class="fa fa-calendar fa-fw"></i>
                            <span>{{ 'All Events' | translate }}</span>
                        </a>
                        <ul class="nav nav-sub dk" auto-active>
                            <li class="nav-sub-header">{{ 'All Events' | translate }}</li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ filterUrlPattern }}dashboard">
                                    <i class="fa fa-dashboard fa-fw"></i>
                                    <span>{{ 'Event Dashboard' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ filterUrlPattern }}recent">
                                    <i class="fa fa-calendar fa-fw"></i>
                                    <span>{{ 'Most Recent' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ filterUrlPattern }}frequent">
                                    <i class="fa fa-signal fa-fw"></i>
                                    <span>{{ 'Most Frequent' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ filterUrlPattern }}users">
                                    <i class="fa fa-users fa-fw"></i>
                                    <span>{{ 'Most Users' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ filterUrlPattern }}new">
                                    <i class="fa fa-asterisk fa-fw"></i>
                                    <span>{{ 'New Event' | translate }}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li [active]="'session'">
                        <a class="auto">
                            <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                            </span>
                            <i class="fa fa-book fa-fw"></i>
                            <span>{{ 'Reports' | translate }}</span>
                        </a>
                        <ul class="nav nav-sub dk" auto-active>
                            <li class="nav-sub-header">Reports</li>
                            <li routerLinkActive="active">
                                <a routerLink="/{{ filterUrlPattern }}session/dashboard">
                                    <i class="fa fa-heartbeat fa-fw"></i>
                                    <span>{{ 'Sessions' | translate }}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li [active]="'admin'">
                        <a class="auto">
                            <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                            </span>
                            <i class="fa fa-cog fa-fw"></i>
                            <span>{{ 'Admin' | translate }}</span>
                        </a>
                        <ul class="nav nav-sub dk" auto-active>
                            <li class="nav-sub-header">{{ 'Admin' | translate }}</li>
                            <li routerLinkActive="active">
                                <a routerLink="/project/list">
                                    <i class="fa fa-briefcase fa-fw"></i>
                                    <span>{{ 'Project Manager' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/organization/list">
                                    <i class="fa fa-group fa-fw"></i>
                                    <span>{{ 'Organization Manager' | translate }}</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/account/manage">
                                    <i class="fa fa-user fa-fw"></i>
                                    <span>{{ 'My Account' | translate }}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li routerLinkActive="active">
                        <a href="https://github.com/exceptionless/Exceptionless/wiki" target="_blank" title="{{ 'Documentation' | translate }}">
                            <i class="fa fa-book fa-fw"></i>
                            <span>{{ 'Documentation' | translate }}</span>
                        </a>
                    </li>
                    <li routerLinkActive="active" *ngIf="isIntercomEnabled()">
                        <a title="{{ 'Support' | translate }}" (click)="showIntercom()">
                            <i class="fa fa-comment fa-fw"></i>
                            <span>{{ 'Support' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
