<div class="container w-auto-xs">
  <div class="text-center">
    <a href="http://exceptionless.com">
      <img src="/img/exceptionless-350.png" />
    </a>
  </div>
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
      <div class="wrapper-md">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Reset your password</strong></div>
          <div class="panel-body">
            <form name="forgotForm" role="form" class="form-validation form-horizontal">
              <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input id="email" name="email" type="email" class="form-control" placeholder="Email address" ng-model="vm.email" required />
                  <div class="error" ng-messages="forgotForm.email.$error" ng-if="forgotForm.$submitted || forgotForm.email.$touched">
                    <small ng-message="required">Email Address is required.</small>
                    <small ng-message="email">Email Address is required.</small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <input type="submit" class="btn btn-primary" ng-click="vm.resetPassword(forgotForm.$valid)" value="Forgot Password">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
