<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div class="wrapper-md">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-briefcase"></i> {{ 'My Projects' | translate }}</div>

                <app-projects [settings]="projects"></app-projects>

                <footer class="panel-footer">
                    <a routerLink="/project/add" class="btn btn-primary" role="button">{{ 'Add New Project' | translate }}</a>
                    <div class="pull-right">
                        <a routerLink="/dashboard" class="btn btn-default" role="button">{{ 'Go To Dashboard' | translate }}</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
