<app-organization-notification></app-organization-notification>

<div class="hbox hbox-auto-xs hbox-auto-sm" appRefreshOn [refreshOn]="'ProjectChanged'" (refreshAction)="get($event)" [refreshThrottle]="10000">
    <div class="col" appRefreshOn [refreshOn]="'TokenChanged'" (refreshAction)="getTokens()" [refreshThrottle]="10000">
        <div class="wrapper-md" appRefreshOn [refreshOn]="'WebHookChanged'" (refreshAction)="getWebHooks()" [refreshThrottle]="10000">
            <div class="panel panel-default" appRefreshOn [refreshOn]="'OrganizationChanged'" (refreshAction)="getOrganization()" [refreshDebounce]="10000">
                <div class="panel-heading"><i class="fa fa-th-list"></i> {{ 'Manage Project' | translate }} {{ project['name'] ? ' "' + project['name'] + '"' : ''}}</div>

                <div class="panel-body m-b-n">
                    <ngb-tabset class="tab-container">
                        <ngb-tab title="{{ 'General' | translate }}" id="general">
                            <ng-template ngbTabContent>
                                <form name="projectForm" role="form" class="form-validation" #projectForm="ngForm">
                                    <div class="form-group">
                                        <label for="project-name">{{ 'Project Name' | translate }}</label>
                                        <div [ngClass]="{'input-group': !!projectForm.pending }">
                                            <input id="project-name" name="project-name" type="text" class="form-control" placeholder="Project Name"
                                                   [(ngModel)]="project['name']"
                                                   (input)="save(projectForm.valid)"
                                                   project-name-available-validator
                                                   #name="ngModel"
                                                   required
                                                   autofocus />

                                            <span class="input-group-addon" *ngIf="projectForm.pending">
                                                <i class="fa fa-fw fa-spinner fa-spin"></i>
                                            </span>
                                        </div>

                                        <div class="error" *ngIf="(name.invalid && (name.dirty || name.touched)) || submitted">
                                            <small [hidden]="!name.errors?.required">{{ 'Full Name is required.' | translate }}</small>
                                            <small [hidden]="nameUnique">{{ 'A project with this name already exists.' | translate }}</small>
                                        </div>
                                    </div>

                                    <div class="form-group m-b-none">
                                        <label for="organization-name">Organization Name</label>
                                        <input type="text" class="form-control" id="organization-name" name="organization-name" placeholder="Organization Name" [(ngModel)]="project['organization_name']" readonly />
                                    </div>

                                    <div *ngIf="hasMonthlyUsage">
                                        <h4 class="m-t-md">{{ 'Monthly Usage' | translate }}</h4>
                                        <p>
                                            You are currently on the <a *ngIf="canChangePlan" (click)="changePlan()"><strong>{{ organization['plan_name'] }}</strong> plan</a> with
                                            <b [ngClass]="{'text-warning': remainingEventLimit === 0}">{{ remainingEventLimit }}</b> events remaining until this billing period's limit is reset on <b>{{ next_billing_date }}</b> (<app-timeago [date]="next_billing_date"></app-timeago>).
                                            <a *ngIf="canChangePlan" (click)="changePlan()">{{ 'Click here to change your plan or billing information.' | translate }}</a>
                                        </p>
                                        <app-apexchart [options]="apexChart.options" [seriesData]="apexChart.seriesData"></app-apexchart>
                                        <br class="clearfix" />
                                        <h6><em>{{ 'The usage data above is refreshed periodically and may not reflect current totals.' | translate }}</em></h6>
                                    </div>
                                </form>
                            </ng-template>
                        </ngb-tab>

                        <ngb-tab title="{{ 'API Keys' | translate }}" id="api-keys">
                            <ng-template ngbTabContent>
                                <table class="table table-striped table-bordered table-fixed b-t">
                                    <thead>
                                        <tr>
                                            <th>{{ 'API Key' | translate }}</th>
                                            <th class="hidden-xs">{{ 'Notes' | translate }}</th>
                                            <th class="action-lg visible-xs">{{ 'Actions' | translate }}</th>
                                            <th class="hidden-xs action-xl">{{ 'Actions' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let token of tokens; let i = index ;">
                                            <td><div class="control-group">{{ token['id'] }}</div></td>
                                            <td class="hidden-xs" [ngClass]="{'row-clickable': editable[i]}" (click)="editable[i] = true">
                                                <div *ngIf="!editable[i]">{{ token['notes'] }}</div>
                                                <input *ngIf="editable[i]" [(ngModel)]="token['notes']" type="text" name="notes" class="editable-input form-control" value="{{ token['notes'] }}">
                                            </td>
                                            <td>
                                                <form name="rowform" editable-form [hidden]="!editable[i]" class="form-buttons form-inline" #rowform="ngForm">
                                                    <button type="submit" role="button" [disabled]="rowform.waiting" class="btn btn-sm btn-primary" (click)="saveApiKeyNote(token); editable[i] = false;">{{ 'Save' | translate }}</button>
                                                    <button type="button" role="button" [disabled]="rowform.waiting" (click)="editable[i] = false" class="btn btn-sm btn-default">{{ 'Cancel' | translate }}</button>
                                                </form>
                                                <div class="buttons" [hidden]="editable[i]">
                                                    <button type="button" role="button" class="btn btn-sm btn-primary" title="{{ 'Copy to Clipboard' | translate }}" clipboard text="token.id" on-copied="copied()" supported="clipboardSupported" [hidden]="!clipboardSupported"><i class="fa fa-copy"></i></button>
                                                    <button type="button" role="button" class="btn btn-sm btn-default hidden-xs" (click)="editable[i] = true">{{ 'Edit' | translate }}</button>
                                                    <button type="button" role="button" (click)="removeToken(token)" class="btn btn-sm btn-danger" title="{{ 'Delete' | translate }}"><i class="fa fa-times"></i></button>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr *ngIf="tokens.length === 0">
                                            <td colspan="2" class="text-warning visible-xs">{{ 'This project does not have an API Key.' | translate }}</td>
                                            <td colspan="3" class="text-warning hidden-xs">{{ 'This project does not have an API Key.' | translate }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <button type="button" role="button" (click)="addToken()" class="btn btn-primary">{{ 'New API Key' | translate }}</button>
                            </ng-template>
                        </ngb-tab>

                        <ngb-tab title="{{ 'Settings' | translate }}" id="settings">
                            <ng-template ngbTabContent>
                                <h4>{{ 'Data Exclusions' | translate }}</h4>
                                <p [innerHtml]="'Notice_Data_Exclusions' | translate"></p>
                                <input type="text" class="form-control" placeholder="Example: *Password*, CreditCard*, SSN"
                                       [(ngModel)]="data_exclusions"
                                       (input)="saveDataExclusion()"/>
                                <div class="checkbox">
                                    <label class="checks">
                                        <input type="checkbox"
                                               [(ngModel)]="exclude_private_information"
                                               (change)="saveIncludePrivateInformation()">
                                        <i></i>
                                        {{ 'Automatically remove user identifiable information from events (e.g., Machine Name, User Information, IP Addresses and more...).' | translate }}
                                    </label>
                                </div>

                                <h4>{{ 'Error Stacking' | translate }}</h4>
                                <h5>{{ 'User Namespaces' | translate }}</h5>
                                <p [innerHtml]="'Notice_Error_Stacking' | translate"></p>
                                <input type="text" class="form-control" placeholder="Example: Contoso"
                                       [(ngModel)]="user_namespaces"
                                       (input)="saveUserNamespaces()"/>

                                <h5>{{ 'Common Methods' | translate }}</h5>
                                <p [innerHtml]="'Notice_Common_Methods' | translate"></p>
                                <input type="text" class="form-control" placeholder="Example: Assert, Writeline"
                                       [(ngModel)]="common_methods"
                                       (input)="saveCommonMethods()"/>

                                <h4>{{ 'Spam Detection' | translate }}</h4>
                                <p [innerHtml]="'Notice_Spam_Detection' | translate"></p>
                                <input type="text" class="form-control" placeholder="Example: SpamBot"
                                       [(ngModel)]="user_agents"
                                       (input)="saveUserAgents()"/>

                                <div class="checkbox">
                                    <label class="checks">
                                        <input type="checkbox"
                                               [(ngModel)]="project['delete_bot_data_enabled']"
                                               (change)="saveDeleteBotDataEnabled()">
                                        <i></i>
                                        {{ 'Reduce noise by automatically hiding high volumes of events coming from a single client IP address.' | translate }}
                                    </label>
                                </div>
                            </ng-template>
                        </ngb-tab>

                        <ngb-tab title="{{ 'Client Configuration' | translate }}" id="client-configuration">
                            <ng-template ngbTabContent>
                                <p [innerHtml]="'NOTICE_CONFIGURATION' | translate"></p>

                                <!-- TODO: The add new dropdown should be populated with default settings we know about. -->
                                <table class="table table-striped table-bordered table-fixed b-t">
                                    <thead>
                                        <tr>
                                            <th>{{ 'Key' | translate }}</th>
                                            <th>{{ 'Value' | translate }}</th>
                                            <th class="action-lg">{{ 'Actions' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let conf of config">
                                            <td>
                                                <div class="control-group">{{ conf['key'] }}</div>
                                            </td>
                                            <td>
                                                <div class="control-group" *ngIf="!conf.is_editable" (click)="conf.is_editable = true;">{{ conf['value'] }}</div>
                                                <input class="form-control" [(ngModel)]="conf['value']" type="text" *ngIf="conf.is_editable"/>
                                                <div class="error" *ngIf="conf.is_editable && !conf['value']">
                                                    <small>{{ 'Please enter a valid value.' | translate }}</small>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="buttons" *ngIf="conf.is_editable">
                                                    <button type="button" role="button" class="btn btn-sm btn-primary" (click)="saveClientConfiguration(conf)">{{ 'Save' | translate }}</button>
                                                    <button type="button" role="button" class="btn btn-sm btn-danger" title="{{ 'Cancel' | translate }}" (click)="conf.is_editable = false;"><i class="fa fa-times"></i></button>
                                                </div>
                                                <div class="buttons" *ngIf="!conf.is_editable">
                                                    <button type="button" role="button" class="btn btn-sm btn-default" (click)="conf.is_editable = true;">{{ 'Edit' | translate }}</button>
                                                    <button type="button" role="button" class="btn btn-sm btn-danger" title="{{ 'Delete' | translate }}" (click)="removeConfig(conf)"><i class="fa fa-times"></i></button>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr *ngIf="config.length === 0">
                                            <td colspan="3">{{ 'This project does not contain any custom configuration settings.' | translate }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <button (click)="addConfiguration()" class="btn btn-primary">{{ 'New Client Configuration' | translate }}</button>
                            </ng-template>
                        </ngb-tab>

                        <ngb-tab title="{{ 'Integrations' | translate }}" id="integrations">
                            <ng-template ngbTabContent>
                                <div class="alert in fade alert-success" *ngIf="!hasPremiumFeatures">
                                    <a (click)="showChangePlanDialog()">{{ 'Upgrade now' | translate }}</a> {{ 'to enable integrations!' | translate }}
                                </div>

                                <div *ngIf="isSlackEnabled">
                                    <h4>{{ 'Slack' | translate }}</h4>

                                    <div *ngIf="project['has_slack_integration']">
                                        <p>{{ 'Choose how often you want to receive slack notifications for event occurrences in this project.' | translate }}</p>

                                        <div class="checkbox">
                                            <label class="checks">
                                                <input type="checkbox"
                                                       [(ngModel)]="slackNotificationSettings['send_daily_summary']"
                                                       (input)="saveSlackNotificationSettings()">
                                                <i></i>
                                                {{ 'Send daily project summary' | translate }} <strong>{{ '(Coming soon!)' | translate }}</strong>
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label class="checks">
                                                <input type="checkbox"
                                                       [(ngModel)]="slackNotificationSettings['report_new_errors']"
                                                       (input)="saveSlackNotificationSettings()">
                                                <i></i>
                                                {{ 'Notify me on new errors' | translate }}
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label class="checks">
                                                <input type="checkbox"
                                                       [(ngModel)]="slackNotificationSettings['report_critical_errors']"
                                                       (input)="saveSlackNotificationSettings()">
                                                <i></i>
                                                {{ 'Notify me on critical errors' | translate }}
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label class="checks">
                                                <input type="checkbox"
                                                       [(ngModel)]="slackNotificationSettings['report_event_regressions']"
                                                       (input)="saveSlackNotificationSettings()">
                                                <i></i>
                                                {{ 'Notify me on error regressions' | translate }}
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label class="checks">
                                                <input type="checkbox"
                                                       [(ngModel)]="slackNotificationSettings['report_new_events']"
                                                       (input)="saveSlackNotificationSettings()">
                                                <i></i>
                                                {{ 'Notify me on new events' | translate }}
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label class="checks">
                                                <input type="checkbox"
                                                       [(ngModel)]="slackNotificationSettings['report_critical_events']"
                                                       (input)="saveSlackNotificationSettings()">
                                                <i></i>
                                                {{ 'Notify me on critical events' | translate }}
                                            </label>
                                        </div>
                                    </div>

                                    <p>
                                        <a *ngIf="!project['has_slack_integration']" (click)="addSlack()" class="btn btn-primary" role="button" title="{{ 'Add to Slack' | translate }}">
                                            <i class="fa fa-fw fa-slack"></i> {{ 'Add Slack Notifications' | translate }}
                                        </a>
                                        <a *ngIf="project['has_slack_integration']" (click)="removeSlack()" class="btn btn-danger" role="button" title="{{ 'Remove Slack' | translate }}">
                                            <i class="fa fa-fw fa-slack"></i> {{ 'Remove Slack' | translate }}
                                        </a>
                                    </p>
                                </div>

                                <h4>{{ 'Web hooks' | translate }}</h4>
                                <p [innerHtml]="'Notice_Web_hooks' | translate"></p>

                                <table class="table table-striped table-bordered table-fixed b-t">
                                    <thead>
                                        <tr>
                                            <th>{{ 'Url' | translate }}</th>
                                            <th>{{ 'Event Types' | translate }}</th>
                                            <th class="action">{{ 'Actions' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let hook of webHooks">
                                            <td>{{ hook['url'] }}</td>
                                            <td>
                                                <span class="label label-success" *ngFor="let type of hook['event_types']">{{ type }}</span>
                                            </td>
                                            <td>
                                                <button type="button" role="button" class="btn btn-sm" title="{{ 'Delete' | translate }}" (click)="removeWebHook(hook)"><i class="fa fa-times"></i></button>
                                            </td>
                                        </tr>

                                        <tr *ngIf="webHooks.length === 0">
                                            <td colspan="3">{{ 'This project does not contain any integrations.' | translate }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <button type="button" role="button" (click)="addWebHook()" class="btn btn-primary">{{ 'Add Web Hook' | translate }}</button>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>

                <footer class="panel-footer">
                    <div class="pull-right">
                        <a routerLink="/project/{{project.id}}/dashboard" class="btn btn-default" role="button">
                            <span class="visible-xs" title="{{ 'Go To Dashboard' | translate }}"><i class="fa fa-fw fa-dashboard"></i></span>
                            <span class="hidden-xs">{{ 'Go To Dashboard' | translate }}</span>
                        </a>
                    </div>

                    <a routerLink="/organization/{{project.organization_id}}/manage" class="btn btn-primary" role="button" title="{{ 'Manage Organization' | translate }}">
                        <i class="fa fa-fw fa-group"></i>
                    </a>

                    <a routerLink="/account/manage" [queryParams]="{tab: 'notifications', projectId: project.id}" class="btn btn-primary" role="button" title="{{ 'Manage Notification Settings' | translate }}">
                        <i class="fa fa-fw fa-envelope"></i>
                    </a>

                    <a routerLink="/project/{{project.id}}/configure" class="btn btn-primary" role="button" title="{{ 'Download & Configure Client' | translate }}">
                        <i class="fa fa-fw fa-cloud-download"></i>
                    </a>

                    <div class="btn-group" open>
                        <button type="button" role="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-fw fa-remove"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a (click)="resetData()" role="button">{{ 'Reset Project Data' | translate }}</a></li>
                            <li><a (click)="removeProject()" role="button">{{ 'Delete Project' | translate }}</a></li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
