<app-organization-notification></app-organization-notification>

<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="wrapper-md">
        <div class="row">
            <div class="col-sm-12">
                <div class="row row-sm text-center">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="dashboard-block">
                            <div class="rotate">
                                <i class="fa fa-calendar fa-4x"></i>
                            </div>
                            <div class="details">
                                <span class="title">{{ 'Count' | translate }}</span>
                                <span class="sub">{{ stats.count }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="dashboard-block">
                            <div class="rotate">
                                <i class="fa fa-users fa-4x"></i>
                            </div>
                            <div class="details">
                                <span class="title">{{ 'UserRatio' | translate }}</span>
                                <span class="sub">
                                    <abbr title="{{ stats.usersTitle }}">{{ stats.users }}</abbr>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="dashboard-block">
                            <div class="rotate">
                                <i class="fa fa-arrow-circle-left fa-4x"></i>
                            </div>
                            <div class="details">
                                <span class="title">{{ 'First' | translate }}</span>
                                <span class="sub visible-md visible-lg"><app-timeago [date]="stats.first_occurrence"></app-timeago></span>
                                <span class="sub visible-sm">
                                    <span *ngIf="isValidDate(stats.first_occurrence)">{{ stats.first_occurrence }}</span>
                                    <span *ngIf="!isValidDate(stats.first_occurrence)">{{ 'never' | translate }}</span>
                                </span>
                                <span class="sub visible-xs">
                                    <span *ngIf="isValidDate(stats.first_occurrence)">{{ stats.first_occurrence }}</span>
                                    <span *ngIf="!isValidDate(stats.first_occurrence)">{{ 'NA' | translate }}</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="dashboard-block">
                            <div class="rotate">
                                <i class="fa fa-arrow-circle-right fa-4x"></i>
                            </div>
                            <div class="details">
                                <span class="title">{{ 'Last' | translate }}</span>
                                <span class="sub visible-md visible-lg"><app-timeago [date]="stats.last_occurrence"></app-timeago></span>
                                <span class="sub visible-sm">
                                    <span *ngIf="isValidDate(stats.last_occurrence)">{{ stats.last_occurrence }}</span>
                                    <span *ngIf="!isValidDate(stats.last_occurrence)">{{ 'never' | translate }}</span>
                                </span>
                                <span class="sub visible-xs">
                                    <span *ngIf="isValidDate(stats.last_occurrence)">{{ stats.last_occurrence }}</span>
                                    <span *ngIf="!isValidDate(stats.last_occurrence)">{{ 'NA' | translate }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'Stack' | translate }}
                <span class="labels">
                    <span class="label label-success" *ngIf="stack['date_fixed'] && !stack['is_regressed']">
                        <span class="hidden-xs">{{ 'FIXED' | translate }}<span *ngIf="stack['fixed_in_version']"> IN {{ stack['fixed_in_version'] }}</span></span>
                        <span class="visible-xs">F</span>
                    </span>
                    <span class="label label-success" *ngIf="stack['is_regressed']">
                        <span class="hidden-xs">{{ 'REGRESSED' | translate }}</span>
                        <span class="visible-xs">R</span>
                    </span>
                    <span class="label label-success" *ngIf="stack['is_hidden']">
                        <span class="hidden-xs">{{ 'HIDDEN' | translate }}</span>
                        <span class="visible-xs">H</span>
                    </span>
                </span>

                <div class="btn-toolbar pull-right hidden-print" role="toolbar" aria-label="Stack Options">
                    <div class="btn-group btn-group-sm" role="group" *ngIf="stack['type'] === 'error' || stack['type'] === '404'">
                        <button type="button" role="button" class="btn btn-default" title="{{ (stack['date_fixed'] && !stack['is_regressed']) ? 'Mark this stack as not fixed' : 'Mark this stack as fixed' | translate }}">
                            {{ (stack['date_fixed ']&& !stack['is_regressed']) ? 'Mark Not Fixed' : 'Mark Fixed' | translate }}
                        </button>
                    </div>

                    <div class="btn-group btn-group-sm" role="group" open>
                        <button type="button" role="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="visible-xs-inline"><i class="fa fa-fw fa-gear fa-size-sm"></i></span>
                            <span class="hidden-xs">{{ 'Options' | translate }}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a (click)="updateIsHidden()" title="{{ 'Hide this stack from reports and mutes occurrence notifications' | translate }}"><i *ngIf="stack['is_hidden'] || stack['occurrences_are_critical'] || stack['disable_notifications']" class="fa fa-fw"[ngClass]="{'fa-check': !!stack['is_hidden']}"></i>{{ 'Hide' | translate }}</a></li>
                            <li><a (click)="updateIsCritical()" title="{{ 'All future occurrences will be marked as critical' | translate }}"><i *ngIf="stack['is_hidden'] || stack['occurrences_are_critical'] || stack['disable_notifications']" class="fa fa-fw" [ngClass]="{'fa-check': !!stack['occurrences_are_critical']}"></i>{{ 'Future Occurrences Are Critical' | translate }}</a></li>
                            <li><a (click)="updateNotifications()" title="{{ 'Stop sending occurrence notifications for this stack' | translate }}"><i *ngIf="stack['is_hidden'] || stack['occurrences_are_critical'] || stack['disable_notifications']" class="fa fa-fw" [ngClass]="{'fa-check': !!stack['disable_notifications']}"></i>{{ 'Disable Notifications' | translate }}</a></li>
                            <li class="divider"></li>
                            <li><a (click)="promoteToExternal()" title="{{ 'Used to promote stacks to external systems.' | translate }}"><i *ngIf="stack['is_hidden'] || stack['occurrences_are_critical'] || stack['disable_notifications']" class="fa fa-fw"></i>{{ 'Promote To External' | translate }}</a></li>
                            <li><a (click)="addReferenceLink()" title="{{ 'Add a reference link to an external resource.' | translate }}"><i *ngIf="stack.is_hidden || stack['occurrences_are_critical'] || stack['disable_notifications']" class="fa fa-fw"></i>{{ 'Add Reference Link' | translate }}</a></li>
                            <li class="divider"></li>
                            <li><a (click)="remove()" title="{{ 'Delete this stack' | translate }}"><i *ngIf="stack['is_hidden'] || stack['occurrences_are_critical'] || stack['disable_notifications']" class="fa fa-fw"></i>{{ 'Delete' | translate }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <table class="table table-striped table-bordered table-fixed table-key-value b-t">
                    <tbody>
                    <tr>
                        <th>{{ 'Title' | translate }}</th>
                        <td><span truncate lines="3">{{ stack['title'] }}</span></td>
                    </tr>
                    <tr>
                        <th>{{ 'Project' | translate }}</th>
                        <td><a href="#">{{ project['name'] }}</a></td>
                    </tr>
                    <tr *ngIf="(stack['date_fixed'] && !stack['is_regressed'])">
                        <th>{{ 'Date Fixed' | translate }}</th>
                        <td><span>{{ stack['date_fixed'] }}</span></td>
                    </tr>
                    <tr *ngIf="stack['description']">
                        <th>{{ 'Description' | translate }}</th>
                        <td><span>{{ stack['description'] }}</span></td>
                    </tr>
                    <tr *ngIf="stack['tags']">
                        <th>{{ 'Tags' | translate }}</th>
                        <td>
                            <span class="label label-info" *ngFor="let tag of stack['tags']">{{ tag }}</span>
                        </td>
                    </tr>
                    <tr *ngIf="stack['references'].length > 0">
                        <th>{{(stack['references'].length > 1) ? 'Reference Links' : 'Reference Link' }}</th>
                        <td>
                            <ul *ngIf="stack['references'].length > 1">
                                <li *ngFor="let reference of stack['references']">
                                    <a href="{{ reference }}" target="_blank">{{ reference }}</a>
                                    <a class="delete-link" (click)="removeReferenceLink(reference)"><i class="fa fa-fw fa-times"></i></a>
                                </li>
                            </ul>

                            <div *ngIf="stack['references'].length === 1">
                                <a href="#" target="_blank">{{stack['references'][0]}}</a>
                                <a class="delete-link" (click)="removeReferenceLink(stack['references'][0])"><i class="fa fa-fw fa-times"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h4>{{ 'Stacking Information' | translate }}</h4>
                <table class="table table-striped table-bordered table-fixed table-key-value b-t">
                    <tbody *ngIf="stack['signature_info']">
                    <tr *ngFor="let key of stack['signature_info'] | ObjNgFor">
                        <th>{{ key }}</th>
                        <td>{{ stack['signature_info'][key] }}</td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <div class="btn-group btn-group-xs pull-right" role="group" open>
                        <button type="button" role="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="visible-xs-inline"><i class="fa fa-fw fa-gear"></i></span>
                            <span class="hidden-xs">{{ 'Chart Option' | translate }}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li *ngFor="let o of chartOptions">
                                <a (click)="o.selected = !o.selected; updateStats();" title="{{o.title}}"><i class="fa fa-fw" [ngClass]="{'fa-check': !!o.selected}" *ngIf="hasSelectedChartOption()"></i>{{ 'Show '+o.name }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <app-rickshaw [options]="chart['options']" [seriesData]="seriesData" [eventType]="eventType"></app-rickshaw>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-fw fa-calendar"></i> {{ 'Recent Occurrences' | translate }}</div>
            <app-events [settings]="recentOccurrences" [eventType]="eventType"></app-events>
        </div>
    </div>
</div>
