<form name="addReferenceForm" role="form" class="form-validation">
  <div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title">Please enter a Reference Link</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="url">Reference Link</label>
      <input id="url" name="url" type="url" class="form-control input-lg" placeholder="Please enter a valid URL" ng-model="vm.data.url" required />
      <div class="error" ng-messages="addReferenceForm.url.$error" ng-if="addReferenceForm.$submitted || addReferenceForm.url.$touched">
        <small ng-message="required">Reference Link is required.</small>
        <small ng-message="url">Reference Link is required.</small>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <input type="submit" class="btn btn-default" ng-click="vm.save(addReferenceForm.$valid)" value="Save Reference Link" />
    <button type="button" role="button" class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
  </div>
</form>
