<span *ngIf="source.data.Level" class="label label-default" [ngClass]="{ 'label-success': isLevelSuccess, 'label-info': isLevelInfo, 'label-warning': isLevelWarning, 'label-danger': isLevelError }">
  {{ source.data.Level }}
</span>

<span *ngIf="showType"><strong>Log</strong><span *ngIf="source.data.Source">&nbsp;in&nbsp;</span></span>

<strong *ngIf="source.data.Source">
    <abbr *ngIf="source.data.SourceShortName" title="{{ source.data.Source }}">{{ source.data.SourceShortName }}</abbr>
    <span *ngIf="!source.data.SourceShortName">{{ source.data.Source }}</span>
</strong>

<span *ngIf="showType || source.data.Source">:&nbsp;</span><a ui-sref="app.event({ id: source.id })" truncate lines="2">{{ source.data.Message }}</a>
