<div>
    <div class="container w-auto-xs">
        <div class="text-center m-t">
            <a href="https://exceptionless.com">
                <img src="assets/img/exceptionless-350.png" alt="logo" />
            </a>
        </div>
        <div class="hbox hbox-auto-xs hbox-auto-sm">
            <div class="col">
                <div class="wrapper-md">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center"><strong>Signup for a FREE account in seconds</strong></div>
                        <div class="panel-body">
                            <form name="vm.signupForm" role="form" class="form-horizontal form-validation" (ngSubmit)="onSubmit(signupForm.valid)" #signupForm="ngForm" autocomplete="on">
                                <div class="form-horizontal col-sm-offset-2">
                                    <h4>Create an account</h4>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input id="name" name="name" type="text" class="form-control" [(ngModel)]="model.name" placeholder="Your first and last name" x-autocompletetype="full-name" autocapitalize="words" autocorrect="off" spellcheck="false" autofocus  required #name="ngModel"/>

                                        <div class="error" *ngIf="(name.invalid && (name.dirty || name.touched)) || submitted">
                                            <small [hidden]="!name.errors?.required">Full Name is required.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input id="email" name="email" type="email" email="true" class="form-control" [(ngModel)]="model.email" placeholder="Email Address (no spam)" x-autocompletetype="email" autocorrect="off" autofocus required #email="ngModel" (blur)="checkEmailValidation()"/>

                                        <div class="error" *ngIf="(email.invalid && (email.dirty || email.touched)) || submitted">
                                            <small [hidden]="!email.errors?.required">Email Address is required.</small>
                                            <small [hidden]="!email.errors?.email" *ngIf="!email.errors?.required">It muse be email address.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10">
                                        <input id="password" name="password" type="password" class="form-control" [(ngModel)]="model.password" placeholder="Password" required minlength="6" maxlength="101" #password="ngModel"/>

                                        <div class="error" *ngIf="(password.invalid && (password.dirty || password.touched)) || submitted">
                                            <small [hidden]="!password.errors?.required">Password is required</small>
                                            <small [hidden]="!password.errors?.minlength">Password must be at least 6 characters long</small>
                                            <small [hidden]="!password.errors?.maxlength">Password must be less than 101 characters long</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <input type="submit" role="button" id="signup" class="btn btn-primary btn-lg" value="Create My Account" />
                                        <p>Already have an account? <a routerLink="/login">Log In</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="text-center" [innerHTML]="'NOTICE_SIGNINGUP'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
