<div class="inline" refresh-on="filterChanged" refresh-action="vm.updateFilterDisplayName()">
  <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" refresh-on="filterChanged" refresh-action="vm.updateFilterDisplayName()">
    {{vm.filteredDisplayName}} <span class="caret"></span>
  </button>
  <div class="dropdown-menu w-md" role="menu">
    <div class="panel bg-dark">
      <div class="list-group">
        <a class="media list-group-item" ng-class="{ active: vm.isActive('last hour')}" ng-click="vm.setFilter('last hour')">Last Hour</a>
        <a class="media list-group-item" ng-class="{ active: vm.isActive('last 24 hours')}" ng-click="vm.setFilter('last 24 hours')">Last 24 Hours</a>
        <a class="media list-group-item" ng-class="{ active: vm.x('last week')}" ng-click="vm.setFilter('last week')">Last Week</a>
        <a class="media list-group-item" ng-class="{ active: vm.isActive('last 30 days')}" ng-click="vm.setFilter('last 30 days')">Last 30 Days</a>
        <a class="media list-group-item" ng-class="{ active: vm.isActive('all')}" ng-click="vm.setFilter('all')">All Time</a>
        <a class="media list-group-item" ng-class="{ active: vm.isActive('Custom')}" ng-click="vm.setCustomFilter()">Custom</a>
      </div>
    </div>
  </div>
</div>
