<div>
    <div *ngIf="hasNotifications" appRefreshOn [refreshOn]="'filterChanged'" (refreshAction)="onFilterChanged()">
        <div refresh-action="vm.get()" refresh-throttle="10000"></div>

        <div class="alert alert-success alert-banner m-b-none" *ngIf="!hasOrganizations()">
            <h4>{{ 'Setup your first project' | translate }}</h4>
            <p>
                Please <a routerLink="/project/add">add a new project</a> and start becoming exceptionless in less than 60 seconds!
            </p>
        </div>

        <div class="alert alert-success alert-banner m-b-none" *ngIf="hasOrganizationsWithNoProjects()">
            <h4>{{ 'Setup your first project' | translate }}</h4>
            <p>
                <strong *ngFor="let organization of organizationsWithNoProjects; let first = first;">
                    <span *ngIf="!first">, </span><a routerLink="/project/add" [queryParams]="{ organizationId: organization.id }">{{ organization.name }}</a>
                </strong>
                currently has no projects. <a>Add a new project</a> and start becoming exceptionless in less than 60 seconds!
            </p>
        </div>

        <div class="alert alert-success alert-banner m-b-none" *ngIf="hasProjectsRequiringConfiguration()">
            <h4>{{ 'We haven\'t received any data!' | translate }}</h4>
            <p>
                Please configure your clients for
                <strong *ngFor="let project of projectsRequiringConfiguration; let first = first;">
                    <span *ngIf="!first">, </span><a title="{{ 'Configure_Project_Title' | translate }}" routerLink="/project/{{ project.id }}/manage">{{ project.name }}</a>
                </strong>
                projects and start becoming exceptionless in less than 60 seconds!
            </p>
        </div>

        <div class="alert alert-danger alert-banner m-b-none" *ngIf="hasSuspendedOrganizations()">
            <h4>
                <span *ngFor="let organization of suspendedOrganizations; let first = first;">
                    <span *ngIf="!first">, </span><a (click)="showChangePlanDialog(organization.id)">{{ organization.name }}</a>
                </span> has been suspended.
            </h4>
            <p><em>{{ 'Please note that while your account is suspended all new client events will be discarded.' | translate }}</em></p>

            <p *ngIf="hasSuspendedForBillingOrganizations()">
                To unsuspend
                <strong *ngFor="let organization of suspendedForBillingOrganizations; let first = first;">
                    <span *ngIf="!first">, </span><a (click)="showChangePlanDialog(organization.id)">{{ organization.name }}</a>
                </strong>
                , please <a (click)="showChangePlanDialog(suspendedForBillingOrganizations[0].id)">update your billing information</a>.
            </p>

            <p *ngIf="hasSuspendedForAbuseOrOverageOrNotActiveOrganizations()">
                <strong *ngFor="let organization of suspendedForAbuseOrOverageOrNotActiveOrganizations let first = first;">
                    <span *ngIf="!first">, </span><a (click)="showChangePlanDialog(organization.id)">{{ organization.name }}</a>
                </strong>
                has exceeded the plan limits. To unsuspend your account, please
                <a (click)="showChangePlanDialog(suspendedForAbuseOrOverageOrNotActiveOrganizations[0].id)">upgrade your plan</a>.
            </p>

            <p *ngIf="isIntercomEnabled()">
                Please <a (click)="showIntercom()">contact us</a>
                for more information on why your account was suspended.
            </p>
        </div>

        <div class="alert alert-danger alert-banner m-b-none" *ngIf="hasExceededRequestLimitOrganizations()">
            <h4>
                {{ 'API requests are currently being throttled for' | translate }}
                <span *ngFor="let organization of exceededRequestLimitOrganizations; let first = first;">
                    <span *ngIf="!first">, </span>{{ organization.name }}
                </span>
            </h4>

            <p *ngIf="isIntercomEnabled()">
                Please <a (click)="showIntercom()">contact us</a> for more information.
            </p>
        </div>

        <div class="alert alert-danger alert-banner m-b-none" *ngIf="hasHourlyOverageOrganizations()">
            <h4>
                {{ 'Events are currently being throttled for' | translate }}
                <span *ngFor="let organization of hourlyOverageOrganizations; let first = first;">
                    <span *ngIf="!first">, </span><a (click)="showChangePlanDialog(organization.id)">{{ organization.name }}</a>
                </span>
            </h4>

            <p>{{ 'Events are currently being throttled to prevent using up your plan limit in a small window of time.' | translate }} <a ng-click="vm.showChangePlanDialog(vm.hourlyOverageOrganizations[0].id)">{{ 'Upgrade now' | translate }}</a> {{ 'to increase your limits.' | translate }}</p>
        </div>

        <div class="alert alert-danger alert-banner m-b-none" *ngIf="hasMonthlyOverageOrganizations()">
            <h4>
                <span *ngFor="let organization of monthlyOverageOrganizations; let first = first;">
                  <span *ngIf="!first">, </span><a (click)="vm.showChangePlanDialog(organization.id)">{{ organization.name }}</a>
                </span>
                {{ 'has reached its monthly plan limit.' | translate }}
            </h4>

            <p><a (click)="showChangePlanDialog(monthlyOverageOrganizations[0].id)">{{ 'Upgrade now' | translate }}</a> {{ 'to continue receiving events.' | translate }}</p>
        </div>

        <div class="alert alert-danger alert-banner m-b-none" *ngIf="hasOrganizationsWithoutPremiumFeatures()">
            <h4>
                <span *ngFor="let organization of organizationsWithoutPremiumFeatures; let first = first;">
                  <span *ngIf="!first">, </span><a (click)="showChangePlanDialog(organization.id)">{{ organization.name }}</a>
                </span>
                {{ 'is attempting to use a premium feature.' | translate }}
            </h4>

            <p><a (click)="showChangePlanDialog(organizationsWithoutPremiumFeatures[0].id)">{{ 'Upgrade now' | translate }}</a> {{ 'to enable search and other premium features!' | translate }}</p>
        </div>

        <div class="alert alert-success alert-banner m-b-none" *ngIf="hasFreeOrganizations()">
            <h4>
                <span *ngFor="let organization of freeOrganizations; let first = first;">
                    <span *ngIf="!first">, </span><a (click)="showChangePlanDialog(organization.id)">{{ organization.name }}</a>
                </span> {{ 'is currently on a free plan.' | translate }}
            </h4>

            <p><a (click)="showChangePlanDialog(freeOrganizations[0].id)">{{ 'Upgrade now' | translate }}</a> {{ 'to enable premium features and extra storage!' | translate }}</p>
        </div>
    </div>
</div>
