<form name="addConfigurationForm" role="form" class="form-validation">
  <div class="modal-header dialog-header-confirm">
    <button type="button" role="button" class="close" ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title">Please enter a configuration setting</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="key">Key</label>
      <input id="key" name="key" type="text" class="form-control" placeholder="Configuration Key" ng-model="vm.data.key" required />
      <div class="error" ng-messages="addConfigurationForm.key.$error" ng-if="addConfigurationForm.$submitted || addConfigurationForm.key.$touched">
        <small ng-message="required">Please enter a valid key.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="value">Value</label>
      <input id="value" name="value" type="text" class="form-control" placeholder="Configuration Value" ng-model="vm.data.value" required />
      <div class="error" ng-messages="addConfigurationForm.value.$error" ng-if="addConfigurationForm.$submitted || addConfigurationForm.value.$touched">
        <small ng-message="required">Please enter a valid value.</small>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" role="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    <input type="submit" role="button" class="btn btn-primary" ng-click="vm.save(addConfigurationForm.$valid)" value="Save" />
  </div>
</form>
