<div refresh-on="filterChanged" refresh-action="vm.getOrganizationNotifications()">
  <div refresh-on="OrganizationChanged ProjectChanged planChanged planOverage" refresh-action="vm.get()"></div>
  <div class="alert alert-danger m-b-none" ng-if="vm.hasHourlyOverageOrganizations()">
    Events are currently being throttled for
    <strong ng-repeat="organization in vm.hourlyOverageOrganizations">
      <span ng-if="!$first">, </span><a ng-click="vm.showChangePlanDialog(organization.id)">{{organization.name}}</a>
    </strong>
    to prevent using up your plan limit in a small window of time. <a ng-click="vm.showChangePlanDialog(vm.hourlyOverageOrganizations[0].id)">Upgrade now</a> to increase your limits.
  </div>

  <div class="alert alert-danger m-b-none" ng-if="vm.hasMonthlyOverageOrganizations()">
    <strong ng-repeat="organization in vm.monthlyOverageOrganizations">
      <span ng-if="!$first">, </span><a ng-click="vm.showChangePlanDialog(organization.id)">{{organization.name}}</a>
    </strong>
    has reached its monthly plan limit. <a ng-click="vm.showChangePlanDialog(vm.monthlyOverageOrganizations[0].id)">Upgrade now</a> to continue receiving errors.
  </div>

  <div class="alert alert-success m-b-none" ng-if="vm.hasFreeOrganizations()">
    <strong>
      <span ng-repeat="organization in vm.freeOrganizations">
        <span ng-if="!$first">, </span><a ng-click="vm.showChangePlanDialog(organization.id)">{{organization.name}}</a>
      </span> is currently on a free plan.
    </strong>

    <a ng-click="vm.showChangePlanDialog(vm.freeOrganizations[0].id)">Upgrade now</a> to enable premium features and extra storage!
  </div>

  <div class="alert alert-success m-b-none" ng-if="vm.hasProjectsRequiringConfiguration()">
    <h4>We haven't received any data!</h4>
    Please configure your clients for
    <strong ng-repeat="project in vm.projectsRequiringConfiguration">
      <span ng-if="!$first">, </span><a ui-sref="app.project.configure({ id: project.id })">{{project.name}}</a>
    </strong>
    and start becoming exceptionless in less than 60 seconds!
  </div>
</div>
