<div class="app-aside hidden-xs bg-dark">
    <div class="aside-wrap">
        <div class="navi-wrap">
            <div class="clearfix hidden-xs text-center hide" id="aside-user">
                <div class="line dk hidden-folded"></div>
            </div>

            <nav class="navi">
                <ul class="nav">
                    <li routerLinkActive="active">
                        <a routerLink="/type/{{ types.exceptions }}/dashboard" class="auto">
                            <span class="pull-right text-muted">
                            <i class="fa fa-fw fa-angle-right text"></i>
                            <i class="fa fa-fw fa-angle-down text-active"></i>
                            </span>
                            <i class="fa fa-warning fa-fw"></i>
                            <span>Exceptions</span>
                        </a>
                        <ul class="nav nav-sub dk">
                            <li class="nav-sub-header">Exceptions</li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.exceptions }}/dashboard">
                                    <i class="fa fa-dashboard fa-fw"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.exceptions }}/recent">
                                    <i class="fa fa-calendar fa-fw"></i>
                                    <span>Most Recent</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.exceptions }}/frequent">
                                    <i class="fa fa-signal fa-fw"></i>
                                    <span>Most Frequent</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.exceptions }}/users">
                                    <i class="fa fa-users fa-fw"></i>
                                    <span>Most Users</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.exceptions }}/new">
                                    <i class="fa fa-asterisk fa-fw"></i>
                                    <span>New</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li routerLinkActive="active">
                        <a href class="auto" routerLink="/type/{{ types.log }}/dashboard">
                            <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                            </span>
                            <i class="fa fa-file-text-o fa-fw"></i>
                            <span>Log Messages</span>
                        </a>
                        <ul class="nav nav-sub dk" auto-active>
                            <li class="nav-sub-header">Log Messages</li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.log }}/dashboard">
                                    <i class="fa fa-dashboard fa-fw"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.log }}/recent">
                                    <i class="fa fa-calendar fa-fw"></i>
                                    <span>Most Recent</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.log }}/frequent">
                                    <i class="fa fa-signal fa-fw"></i>
                                    <span>Most Frequent</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.log }}/users">
                                    <i class="fa fa-users fa-fw"></i>
                                    <span>Most Users</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.log }}/new">
                                    <i class="fa fa-asterisk fa-fw"></i>
                                    <span>New</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li routerLinkActive="active">
                        <a href class="auto" routerLink="/type/{{ types.broken }}/dashboard">
                            <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                            </span>
                            <i class="fa fa-unlink fa-fw"></i>
                            <span>Broken Links</span>
                        </a>
                        <ul class="nav nav-sub dk" auto-active>
                            <li class="nav-sub-header">Broken Links</li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.broken }}/dashboard">
                                    <i class="fa fa-dashboard fa-fw"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.broken }}/recent">
                                    <i class="fa fa-calendar fa-fw"></i>
                                    <span>Most Recent</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.broken }}/frequent">
                                    <i class="fa fa-signal fa-fw"></i>
                                    <span>Most Frequent</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.broken }}/users">
                                    <i class="fa fa-users fa-fw"></i>
                                    <span>Most Users</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.broken }}/new">
                                    <i class="fa fa-asterisk fa-fw"></i>
                                    <span>New</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li routerLinkActive="active">
                        <a href class="auto" routerLink="/type/{{ types.feature }}/dashboard">
                            <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                            </span>
                            <i class="fa fa-check-square-o fa-fw"></i>
                            <span>Feature Usages</span>
                        </a>
                        <ul class="nav nav-sub dk" auto-active>
                            <li class="nav-sub-header">Feature Usages</li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.feature }}/dashboard">
                                    <i class="fa fa-dashboard fa-fw"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.feature }}/recent">
                                    <i class="fa fa-calendar fa-fw"></i>
                                    <span>Most Recent</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.feature }}/frequent">
                                    <i class="fa fa-signal fa-fw"></i>
                                    <span>Most Frequent</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.feature }}/users">
                                    <i class="fa fa-users fa-fw"></i>
                                    <span>Most Users</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.feature }}/new">
                                    <i class="fa fa-asterisk fa-fw"></i>
                                    <span>New</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li routerLinkActive="active">
                        <a href class="auto" routerLink="/type/{{ types.events }}/dashboard">
                            <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                            </span>
                            <i class="fa fa-calendar fa-fw"></i>
                            <span>All Events</span>
                        </a>
                        <ul class="nav nav-sub dk" auto-active>
                            <li class="nav-sub-header">All Events</li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.events }}/dashboard">
                                    <i class="fa fa-dashboard fa-fw"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.events }}/recent">
                                    <i class="fa fa-calendar fa-fw"></i>
                                    <span>Most Recent</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.events }}/frequent">
                                    <i class="fa fa-signal fa-fw"></i>
                                    <span>Most Frequent</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.events }}/users">
                                    <i class="fa fa-users fa-fw"></i>
                                    <span>Most Users</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/type/{{ types.events }}/new">
                                    <i class="fa fa-asterisk fa-fw"></i>
                                    <span>New</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li routerLinkActive="active">
                        <a href class="auto" routerLink="session/dashboard">
                            <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                            </span>
                            <i class="fa fa-book fa-fw"></i>
                            <span>Reports</span>
                        </a>
                        <ul class="nav nav-sub dk" auto-active>
                            <li class="nav-sub-header">Reports</li>
                            <li routerLinkActive="active">
                                <a routerLink="session/dashboard">
                                    <i class="fa fa-heartbeat fa-fw"></i>
                                    <span>Sessions</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li routerLinkActive="active">
                        <a href class="auto">
                            <span class="pull-right text-muted">
                                <i class="fa fa-fw fa-angle-right text"></i>
                                <i class="fa fa-fw fa-angle-down text-active"></i>
                            </span>
                            <i class="fa fa-cog fa-fw"></i>
                            <span>Admin</span>
                        </a>
                        <ul class="nav nav-sub dk" auto-active>
                            <li class="nav-sub-header">Admin</li>
                            <li>
                                <a ui-sref="app.project.list">
                                    <i class="fa fa-briefcase fa-fw"></i>
                                    <span>Project Manager</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="app.organization.list">
                                    <i class="fa fa-group fa-fw"></i>
                                    <span>Organization Manager</span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="app.account.manage">
                                    <i class="fa fa-user fa-fw"></i>
                                    <span>My Account</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li routerLinkActive="active">
                        <a href="https://github.com/exceptionless/Exceptionless/wiki" target="_blank" title="Documentation">
                            <i class="fa fa-book fa-fw"></i>
                            <span>Documentation</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a title="Support" routerLink="/type/support">
                            <i class="fa fa-comment fa-fw"></i>
                            <span>Support</span>
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
    </div>
</div>
