<organization-notifications organization-id="vm.event.organization_id"></organization-notifications>

<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-calendar"></i> Event Occurrence

        <div class="pull-right hidden-print">
          <a ui-sref="app.stack({ id: vm.event.stack_id })" class="btn btn-default btn-xs fa fa-fw fa-caret-up" role="button" title="Go To Stack"></a>
          <a ui-sref="app.event({ id: vm.previous, tab: vm.getCurrentTab() })" ng-class="{'disabled': !vm.previous}" class="btn btn-default btn-xs fa fa-fw fa-caret-left" role="button" title="Previous Occurrence"></a>
          <a ui-sref="app.event({ id: vm.next, tab: vm.getCurrentTab() })" ng-class="{'disabled': !vm.next}" class="btn btn-default btn-xs fa fa-fw fa-caret-right" role="button" title="Next Occurrence"></a>
        </div>
      </div>
      <div class="panel-body">
        <uib-tabset class="tab-container hidden-xs" active="vm.activeTabIndex">
          <uib-tab ng-repeat="tab in vm.tabs" heading="{{::tab.title | toSpacedWords}}">
            <div ng-include="'app/event/tabs/' + tab.template_key + '.tpl.html'"></div>
          </uib-tab>
        </uib-tabset>

        <uib-accordion class="visible-xs">
          <uib-accordion-group ng-repeat="tab in vm.tabs" heading="{{::tab.title | toSpacedWords}}" is-open="tab.index === vm.activeTabIndex">
            <div ng-include="'app/event/tabs/' + tab.template_key + '.tpl.html'"></div>
          </uib-accordion-group>
        </uib-accordion>
      </div>
      <footer class="panel-footer hidden-xs">
        <div class="pull-right">
          <a ui-sref="app.stack({ id: vm.event.stack_id })" class="btn btn-default" role="button">Go To Stack</a>
        </div>
        <a ui-sref="app.event({ id: vm.previous, tab: vm.getCurrentTab() })" ng-class="{'disabled': !vm.previous}" class="btn btn-primary" role="button">Previous Occurrence</a>
        <a ui-sref="app.event({ id: vm.next, tab: vm.getCurrentTab() })" ng-class="{'disabled': !vm.next}" class="btn btn-primary" role="button">Next Occurrence</a>
      </footer>
    </div>
  </div>
</div>
