$dark-primary: mat-palette($mat-yellow);
$dark-accent: mat-palette($mat-amber, A400, A100, A700);
$dark-warn: mat-palette($mat-red);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

body.app-theme-dark {
  @include angular-material-theme($dark-theme);
}
