<organization-notifications organization-id="vm.project.organization_id" ignore-free="true" ignore-configure-projects="true"></organization-notifications>

<div class="hbox hbox-auto-xs hbox-auto-sm" refresh-on="PersistentEventChanged" refresh-if="vm.canRedirect(data)" refresh-action="vm.navigateToDashboard()">
  <div class="col">
    <div class="wrapper-md">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-cloud-download"></i> Download & Configure {{ vm.project.name ? 'Project "' + vm.project.name + '"' : 'Project'}} Client</div>
        <div class="panel-body m-b-n">
          <p>The Exceptionless client can be integrated into your project in just a few easy steps.</p>
          <ol>
            <li>
              <p>Select your project type:</p>
              <select class="form-control" ng-model="vm.currentProjectType" ng-options="projectType.name group by projectType.platform for projectType in vm.projectTypes">
                <option value="" ng-if="!vm.currentProjectType.key">Please select a project type</option>
              </select>
            </li>
            <li style="margin-top: 15px;" ng-if="vm.currentProjectType.key">
              <div ng-if="vm.isDotNet()">
                <p>Add the Exceptionless <a href="http://nuget.org" target="_blank">NuGet</a> package to your Visual
                  Studio project by running this command in the <a href="http://docs.nuget.org/docs/start-here/using-the-package-manager-console">Package Manager Console</a>:</p>
                <pre><a ng-href="http://nuget.org/packages/{{vm.currentProjectType.key}}" target="_blank">Install-Package {{vm.currentProjectType.key}}</a></pre>
              </div>
              <div ng-if="vm.isJavaScript()">
                <div ng-if="!vm.isNode()">
                  <p>
                    Install Exceptionless using <a href="http://bower.io" target="_blank">Bower</a>:
                    <pre><a href="http://bower.io/search/?q=exceptionless" target="_blank">bower install exceptionless</a></pre>
                  If you wish to install manually or from a CDN please view the <a href="https://github.com/exceptionless/Exceptionless.JavaScript" target="_blank">readme</a>.
                  </p>
                </div>
                <div ng-if="vm.isNode()">
                  <p>Install Exceptionless using the <a href="https://www.npmjs.com" target="_blank">Node Package Manager</a>:
                  <pre><a href="https://www.npmjs.com/package/exceptionless" target="_blank">npm install exceptionless --save</a></pre></p>
                </div>
              </div>
            </li>
            <li ng-if="vm.isJavaScript() && !vm.isNode()" style="margin-top: 15px;">
              <p>Add the script to your HTML page:
              <pre>&ltscript src="bower_components/exceptionless/dist/exceptionless.min.js"&gt&lt/script&gt</pre>
            </li>
            <li ng-if="vm.isJavaScript()" style="margin-top: 15px;">
              <div ng-if="!vm.isNode()">
                <p>Configure the ExceptionlessClient with your Exceptionless API key:
                <pre>var client = exceptionless.ExceptionlessClient.default;<br />client.config.apiKey = '{{::vm.apiKey}}';</pre></p>
              </div>
              <div ng-if="vm.isNode()">
                <p>Configure the ExceptionlessClient with your Exceptionless API key:
                <pre>var client = require('exceptionless').ExceptionlessClient.default;<br />client.config.apiKey = '{{::vm.apiKey}}';</pre></p>
              </div>
            </li>
            <li ng-if="vm.isDotNet()" style="margin-top: 15px;" >
              <div ng-if="vm.currentProjectType.key !== 'Exceptionless.Portable'">
                <p>Update the <code>&lt;exceptionless apiKey="API_KEY_HERE" /&gt;</code> section located in the project's {{vm.currentProjectType.config}} with your Exceptionless API key:</p>

                <div class="input-group">
                  <input class="form-control" type="text" ng-model="vm.apiKey" autofocus />
                  <a class="input-group-addon" title="Copy to Clipboard" clip-copy="vm.apiKey" clip-click="vm.copied()" clip-hide-on-no-flash><i class="fa fa-copy"></i></a>
                </div>
              </div>

              <div ng-if="vm.currentProjectType.key === 'Exceptionless.Portable'">
                <p>Configure the ExceptionlessClient with your Exceptionless API key:</p>

                <div class="input-group">
                  <input class="form-control" type="text" ng-model="vm.apiKey" autofocus />
                  <a class="input-group-addon" title="Copy to Clipboard" clip-copy="vm.apiKey" clip-click="vm.copied()" clip-hide-on-no-flash><i class="fa fa-copy"></i></a>
                </div>

                <p style="margin-top: 15px;">You can set your Exceptionless API key by calling the following code on startup:<p>

                <p><code>ExceptionlessClient.Default.Configuration.ApiKey = "{{vm.apiKey}}"</code></p>

                <p>You can also configure the client via attributes. To configure the client using attributes please add
                the following assembly attribute and your own Exceptionless api key to your project (E.G., AssemblyInfo class).</p>

                <p><code>[assembly: Exceptionless.Configuration.Exceptionless("{{vm.apiKey}}")]</code></p>

                <p>Next, you must call the following line of code to read your configuration from the attribute.</p>

                <p><code>Exceptionless.ExceptionlessClient.Default.Configuration.ReadFromAttributes()</code></p>

                <p>Please note that you will need to pass in the the assembly that contains the attributes if you place
                place the above attribute outside of the  entry assembly or calling assembly.</p>

                <p><code>Exceptionless.ExceptionlessClient.Default.Configuration.ReadFromAttributes(typeof(Program).Assembly)</code></p>
              </div>
            </li>
            <li style="margin-top: 15px;" ng-if="vm.currentProjectType.key === 'Exceptionless.Portable'">
              <p>Wire up to any unhandled exception events specific to your project type to start reporting them!
              Please see the <a target="_blank" href="https://github.com/exceptionless/Exceptionless.Net/wiki/Configuration#exceptionless-portable-class-library-pcl-configuration">Exceptionless docs</a> for more information.</p>
            </li>
            <li style="margin-top: 15px;" ng-if="vm.currentProjectType.key === 'Exceptionless.Nancy'">
              <p>Import the <code>Exceptionless</code> namespace and add a call to <code>Exceptionless.ExceptionlessClient.Default.RegisterNancy(pipelines)</code>
                 with an instance of Nancy.Bootstrapper.IPipelines inside of your NancyBootstrapper's ApplicationStartup method.</p>
            </li>
            <li style="margin-top: 15px;" ng-if="vm.currentProjectType.key === 'Exceptionless' || vm.currentProjectType.key === 'Exceptionless.Windows' || vm.currentProjectType.key === 'Exceptionless.Wpf'">
              <p>Import the <code>Exceptionless</code> namespace and add a call to <code>ExceptionlessClient.Default.Register()</code> during the startup of your app.</p>
            </li>
            <li style="margin-top: 15px;" ng-if="vm.currentProjectType.key === 'Exceptionless.WebApi'">
              <p>Import the <code>Exceptionless</code> namespace and add a call to <code>ExceptionlessClient.Default.RegisterWebApi(config)</code> with an instance of HttpConfiguration during the startup of your app.</p>
              <p>If you are hosting Web API inside of ASP.NET, you would register Exceptionless like: <code>Exceptionless.ExceptionlessClient.Default.RegisterWebApi(GlobalConfiguration.Configuration)</code>
              </p>
            </li>
          </ol>
          <p ng-if="vm.currentProjectType.key"><strong>That's it!</strong>
            <span ng-if="vm.currentProjectType.key !== 'Exceptionless.Portable'">Your project should now automatically be sending all unhandled exceptions to Exceptionless.</span>
            <span ng-if="vm.isDotNet()">You can also <a href="https://github.com/exceptionless/Exceptionless.Net/wiki/Sending-Events" target="_blank">send handled exceptions to Exceptionless</a> using <code>ex.ToExceptionless().Submit()</code>.</span>
            <span ng-if="vm.isJavaScript()">You can also <a href="https://github.com/exceptionless/Exceptionless.JavaScript/wiki/Sending-Events" target="_blank">send handled exceptions to Exceptionless</a> using <code>client.submitException(ex);</code>.</span>
          </p>

          <div class="alert alert-success" ng-if="vm.currentProjectType.key">
            <span ng-if="vm.isDotNet()">
              For more information and troubleshooting tips, view the
              <a target="_blank" href="https://github.com/exceptionless/Exceptionless.Net/wiki">Exceptionless docs</a>.
            </span>
            <span ng-if="vm.isJavaScript()">
              For more information and platform specific integrations (E.G., angularjs, expressjs) view the
              <a target="_blank" href="https://github.com/exceptionless/Exceptionless.JavaScript/wiki">Exceptionless docs</a>.
            </span>
          </div>
        </div>
        <footer class="panel-footer">
          <div class="pull-right">
            <a ui-sref="app.project-dashboard({ projectId: vm.project.id })" class="btn btn-default" role="button">Go To Dashboard</a>
          </div>
          <a ui-sref="app.account.manage({ tab: 'notifications', projectId: vm.project.id })" class="btn btn-primary" role="button" title="Manage Notification Settings">
            <i class="fa fa-fw fa-envelope"></i> <span class="hidden-xs">Manage Notification Settings</span>
          </a>
          <a ui-sref="app.project.manage({ id: vm.project.id })" class="btn btn-primary" role="button" title="Manage Project">
            <i class="fa fa-fw fa-gear"></i> <span class="hidden-xs">Manage Project</span>
          </a>
        </footer>
      </div>
    </div>
  </div>
</div>
