<ul class="nav navbar-nav" refresh-on="OrganizationChanged ProjectChanged" refresh-action="vm.get()" refresh-throttle="2500">
  <li class="dropdown" dropdown>
    <a class="dropdown-toggle" dropdown-toggle refresh-on="filterChanged" refresh-action="vm.getFilterName()">
      <span>{{vm.filterName}}</span> <b class="caret"></b>
    </a>

    <div class="dropdown-menu w-xl">
      <div class="panel bg-dark">
        <div class="list-group">
          <div ng-repeat="organization in vm.organizations track by organization.id">
            <a class="media list-group-item" ng-if="$first" ng-href="{{vm.getAllProjectsUrl()}}" auto-active>All Projects</a>
            <a class="media list-group-item" ng-href="{{vm.getOrganizationUrl(organization)}}" auto-active>{{organization.name}}
              <span class="icon-right" ui-sref="app.organization.manage({ id: organization.id })" show-on-hover-parent><i class="fa fa-gear fa-fw"></i></span>
            </a>
            <a class="media list-group-item project-name" ng-href="{{vm.getProjectUrl(project)}}" auto-active ng-repeat="project in vm.getProjectsByOrganizationId(organization.id) track by project.id">{{project.name}}
              <span class="icon-right" ui-sref="app.project.manage({ id: project.id })" show-on-hover-parent><i class="fa fa-gear fa-fw"></i></span>
            </a>
          </div>
          <a class="list-group-footer media list-group-item" ui-sref="app.project.add" auto-active>Add New Project</a>
        </div>
      </div>
    </div>
  </li>
</ul>
