<ul class="nav navbar-nav" refresh-on="OrganizationChanged ProjectChanged" refresh-action="vm.get()" refresh-throttle="1500">
  <li class="dropdown" dropdown>
    <a class="dropdown-toggle" dropdown-toggle refresh-on="filterChanged" refresh-action="vm.getFilterName()">
      <span>{{vm.filterName}}</span> <b class="caret"></b>
    </a>

    <div class="dropdown-menu w-xl">
      <div class="panel bg-dark">
        <div class="list-group">
          <div ng-repeat="organization in vm.organizations track by organization.id">
            <a class="media list-group-item" ng-if="$first" ng-href="{{::vm.getAllProjectsUrl()}}" auto-active>All Projects</a>
            <a class="media list-group-item" ng-href="{{::vm.getOrganizationUrl(organization)}}" auto-active>{{::organization.name}}</a>
            <a class="media list-group-item project-name" ng-href="{{::vm.getProjectUrl(project)}}" auto-active ng-repeat="project in vm.projects track by project.id | filter:organization.id === project.id">{{project.name}}</a>
          </div>
          <a class="panel-footer media list-group-item" ui-sref="app.project.add">Add New Project</a>
        </div>
      </div>
    </div>
  </li>
</ul>
