<div ng-if="!vm.project.has_premium_features">
  <div class="alert alert-danger alert-banner m-b-none hidden-print">
    <h4><a ng-click="appVm.changePlan(vm.project.organization_id)">{{vm.project.organization_name}}</a> is attempting to use a premium feature.</h4>

    <p><a ng-click="appVm.changePlan(vm.project.organization_id)">Upgrade now</a> to enable sessions and other premium features!</p>
  </div>
  <br />
</div>

<h3 class="visible-print">Session Events</h3>
<events settings="vm.sessionEvents"></events>
