<form name="addUserForm" role="form" class="form-validation">
  <div class="modal-header dialog-header-confirm">
    <button type="button" role="button" class="close" ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title"><i class="fa fa-user-plus fa-fw"></i> Invite User</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="email">Email Address</label>
      <input id="email" name="email" type="email" class="form-control input-lg" placeholder="Email Address" x-autocompletetype="email" autocorrect="off" spellcheck="false" ng-model="vm.data.email" ng-required="true" />
      <div class="error" ng-messages="addUserForm.email.$error" ng-if="addUserForm.$submitted || addUserForm.email.$touched">
        <small ng-message="required">Email Address is required.</small>
        <small ng-message="email">Email Address is required.</small>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" role="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    <input type="submit" role="button" class="btn btn-primary" ng-click="vm.save(addUserForm.$valid)" value="Invite User" />
  </div>
</form>
