<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to HTTPS" stopProcessing="false">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
        </rule>
        <rule name="Redirect images" stopProcessing="true">
          <match url="^images/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="img/{R:1}" redirectType="Temporary" />
        </rule>
        <rule name="Redirect legacy dashboard to new dashboard" stopProcessing="true">
          <match url="^project/([a-zA-Z\d]{24,36})$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="project/{R:1}/error/dashboard" redirectType="Temporary" />
        </rule>
        <rule name="Redirect legacy dashboard" stopProcessing="true">
          <match url="^project/$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="type/error/dashboard" redirectType="Temporary" />
        </rule>
        <rule name="Redirect error/stack-id/error-id to event/id" stopProcessing="true">
          <match url="^error/([a-zA-Z\d]{24,36})/([a-zA-Z\d]{24,36})$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="event/{R:2}" redirectType="Temporary" />
        </rule>
        <rule name="Redirect error to event" stopProcessing="true">
          <match url="^error/([a-zA-Z\d]{24,36})$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="event/{R:1}" redirectType="Temporary" />
        </rule>
        <rule name="Redirect reset password" stopProcessing="true">
          <match url="^account/resetpassword$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="reset-password" redirectType="Temporary" />
        </rule>
        <rule name="AngularJS" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
