<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="index.html">
    <system.webServer>
      <httpProtocol>
       <customHeaders>
         <add name="Arr-Disable-Session-Affinity" value="true" />
         <remove name="Server" />
         <remove name="X-Powered-By" />
         <remove name="X-AspNet-Version" />
        </customHeaders>
      </httpProtocol>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to HTTPS" stopProcessing="false">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
        </rule>
        <rule name="Redirects to be.exceptionless.io" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^app.exceptionless.com$" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://be.exceptionless.io/{R:0}" redirectType="Temporary" />
        </rule>
        <rule name="Redirect images" stopProcessing="true">
          <match url="^images/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="img/{R:1}" redirectType="Temporary" />
        </rule>
        <rule name="Redirect legacy dashboard to new dashboard" stopProcessing="true">
          <match url="^project/([a-zA-Z\d]{24,36})$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="project/{R:1}/error/dashboard" redirectType="Temporary" />
        </rule>
        <rule name="Redirect legacy dashboard" stopProcessing="true">
          <match url="^project/$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="type/error/dashboard" redirectType="Temporary" />
        </rule>
        <rule name="Redirect error/stack-id/error-id to event/id" stopProcessing="true">
          <match url="^error/([a-zA-Z\d]{24,36})/([a-zA-Z\d]{24,36})$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="event/{R:2}" redirectType="Temporary" />
        </rule>
        <rule name="Redirect error to event" stopProcessing="true">
          <match url="^error/([a-zA-Z\d]{24,36})$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="event/{R:1}" redirectType="Temporary" />
        </rule>
        <rule name="Redirect legacy login page with token" stopProcessing="true">
          <match url="^account/login" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{QUERY_STRING}" pattern="token=([a-zA-Z\d]{24,36})" />
          </conditions>
          <action type="Redirect" url="login/{C:1}" redirectType="Temporary" />
        </rule>
        <rule name="Redirect legacy login page" stopProcessing="true">
          <match url="^account/login" />
          <action type="Redirect" url="login" redirectType="Temporary" />
        </rule>
        <rule name="Redirect reset password" stopProcessing="true">
          <match url="^account/resetpassword" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{QUERY_STRING}" pattern="token=([a-zA-Z\d]{24,36})" />
          </conditions>
          <action type="Redirect" url="reset-password/{C:1}" redirectType="Temporary" />
        </rule>
        <rule name="AngularJS" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
