<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="index.html">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect HTTP to HTTPS">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="\:9001$" negate="true" />
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^local-app.exceptionless.io$" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
        <rule name="Redirect HTTPS to HTTP">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTPS}" pattern="^ON$" />
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^local-app.exceptionless.io$" />
          </conditions>
          <action type="Redirect" url="http://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
        <rule name="Redirect exceptionless.io to be.exceptionless.io">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^exceptionless.io$" />
          </conditions>
          <action type="Redirect" url="https://be.{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
        <rule name="PushState" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern=".*[^.]*\.[\d\w]+$" negate="true" />
            <add input="{REQUEST_URI}" matchType="Pattern" pattern="api/(.*)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Arr-Disable-Session-Affinity" value="true" />
        <remove name="Server" />
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>