<ng-container *ngIf="tab['template_key'] == 'overview'">
    <table class="table table-striped table-bordered table-fixed table-key-value b-t">
        <tr>
            <th>{{ 'Occurred On' | translate }}</th>
            <td>{{ event['date'] | date:'medium' }} (<app-timeago [date]="event['date']"></app-timeago>)</td>
        </tr>

        <tr *ngIf="isSessionStart">
            <th>{{ 'Duration' | translate }}</th>
            <td>
                <span *ngIf="!event['data']['sessionend']" class="glyphicon glyphicon-one-fine-dot glyphicon-green" title="Online"></span>
                <abbr title="Seconds"><app-duration [value]="getDuration()"></app-duration></abbr>
                <span *ngIf="event['data']['sessionend']">(ended <app-timeago [date]="event['data']['sessionend']"></app-timeago>)</span>
            </td>
        </tr>

        <tr>
            <th>{{ 'Project' | translate }}</th>
            <td><a href="#">{{ project['name'] }}</a></td>
        </tr>

        <tr *ngIf="event['reference_id']">
            <th>{{ 'Reference' | translate }}</th>
            <td>{{ event['reference_id'] }}</td>
        </tr>

        <tr *ngFor="let reference of references">
            <th>{{ reference['name'] }}</th>
            <td><a href="#">{{ reference['id'] }}</a></td>
        </tr>

        <tr *ngIf="level">
            <th>{{ 'Level' | translate }}</th>
            <td><span class="label label-default" [ngClass]="{ 'label-success': isLevelSuccess, 'label-info': isLevelInfo, 'label-warning': isLevelWarning, 'label-danger': isLevelError }">{{ level }}</span></td>
        </tr>

        <tr *ngIf="event['type'] !== 'error'">
            <th>{{ 'Event Type' | translate }}</th>
            <td><span truncate>{{ event['type'] }}</span></td>
        </tr>

        <tr class="hidden-print" *ngIf="hasError">
            <th>{{ 'Error Type' | translate }}</th>
            <td><span truncate>{{ errorType }}</span></td>
        </tr>

        <tr *ngIf="event['source']">
            <th>{{ 'Source' | translate }}</th>
            <td><span truncate lines="2">{{ event['source'] }}</span></td>
        </tr>

        <tr *ngIf="!isSessionStart && event['value']">
            <th>{{ 'Value' | translate }}</th>
            <td>{{ event['value'] }}</td>
        </tr>

        <tr class="hidden-print" *ngIf="event['message']">
            <th>{{ 'Message' | translate }}</th>
            <td><span truncate lines="10">{{ event['message'] || message }}</span></td>
        </tr>

        <tr *ngIf="version">
            <th>{{ 'Version' | translate }}</th>
            <td>{{ version }}</td>
        </tr>

        <tr *ngIf="location">
            <th>{{ 'Geo' | translate }}</th>
            <td><span truncate>{{ location }}</span></td>
        </tr>

        <tr *ngIf="event['tags']">
            <th>{{ 'Tags' | translate }}</th>
            <td><span class="label label-info" *ngFor="let tag of event['tags']">{{ tag }}</span></td>
        </tr>

        <tr class="hidden-print" *ngIf="requestUrl">
            <th>{{ 'URL' | translate }}</th>
            <td><a href="{{ requestUrl }}" target="_blank" truncate>{{ requestUrl }}</a></td>
        </tr>
    </table>

    <div *ngIf="event['userEmail'] || event['userDescription'] || event['userIdentity']">
        <h4>{{ 'User Info' | translate }}</h4>
        <table class="table table-striped table-bordered table-fixed table-key-value b-t">
            <tr *ngIf="event['userEmail']">
                <th>{{ 'User Email' | translate }}</th>
                <td><a href="#" truncate>{{ event['userEmail'] }}</a>
                </td>
            </tr>
            <tr *ngIf="event['userIdentity']">
                <th>{{ 'User Identity' | translate }}</th>
                <td><span truncate>{{ event['userIdentity'] }}</span></td>
            </tr>
            <tr *ngIf="event['userName']">
                <th>{{ 'User Name' | translate }}</th>
                <td><span truncate>{{ event['userName'] }}</span></td>
            </tr>
            <tr *ngIf="event['userDescription']">
                <th>{{ 'User Description' | translate }}</th>
                <td><span truncate lines="2">{{ event['userDescription'] }}</span></td>
            </tr>
        </table>
    </div>

    <div class="hidden-print" *ngIf="hasError">
        <div class="pull-right">
            <a ngxClipboard [cbContent]="textStackTrace" (cbOnSuccess)="copied()" [hidden]="!(textStackTrace && clipboardSupported)" class="btn btn-default btn-xs fa fa-code hidden-xs" role="button" title="{{ 'Copy Stack Trace to Clipboard' | translate }}"></a>
        </div>

        <h4>{{ 'Stack Trace' | translate }}</h4>

        <app-stack-trace class="stack-trace-mini" [exception]="event['data']['@error']" *ngIf="event['data']['@error']"></app-stack-trace>

        <app-simple-stack-trace class="stack-trace-mini" [exception]="event['data']['@simple_error']" *ngIf="event['data']['@simple_error']"></app-simple-stack-trace>
    </div>
</ng-container>

<ng-container *ngIf="tab['template_key'] == 'environment'">
    <h3 class="visible-print">{{ 'Environment' | translate }}</h3>

    <table class="table table-striped table-bordered table-fixed table-key-value b-t">
        <tr>
            <th>{{ 'Occurred On' | translate }}</th>
            <td>{{ event['date'] | date:'medium' }} (<app-timeago [date]="event['date']"></app-timeago>)</td>
        </tr>

        <tr *ngIf="event['environment']['machine_name']">
            <th>{{ 'Machine Name' | translate }}</th>
            <td><span truncate>{{ event['environment']['machine_name'] }}</span></td>
        </tr>

        <tr *ngIf="event['environment']['ip_address']">
            <th>{{ 'IP Address' | translate }}</th>
            <td>{{ event['environment']['ip_address'] }}</td>
        </tr>

        <tr *ngIf="event['environment']['processor_count']">
            <th>{{ 'Processor Count' | translate }}</th>
            <td>{{ event['environment']['processor_count'] }}</td>
        </tr>

        <tr *ngIf="event['environment']['total_physical_memory']">
            <th>{{ 'Total Memory' | translate }}</th>
            <td>{{ event['environment']['total_physical_memory'] }}</td>
        </tr>

        <tr *ngIf="event['environment']['available_physical_memory']">
            <th>{{ 'Available Memory' | translate }}</th>
            <td>{{ event['environment']['available_physical_memory'] }}</td>
        </tr>

        <tr *ngIf="event['environment']['process_memory_size']">
            <th>{{ 'Process Memory' | translate }}</th>
            <td>{{ event['environment']['process_memory_size'] }}</td>
        </tr>

        <tr *ngIf="event['environment']['o_s_name']">
            <th>{{ 'OS Name' | translate }}</th>
            <td><span truncate>{{ event['environment']['o_s_name'] }}</span></td>
        </tr>

        <tr *ngIf="event['environment']['o_s_version']">
            <th>{{ 'OS Version' | translate }}</th>
            <td>{{ event['environment']['o_s_version'] }}</td>
        </tr>

        <tr *ngIf="event['environment']['architecture']">
            <th>{{ 'Architecture' | translate }}</th>
            <td>{{ event['environment']['architecture'] }}</td>
        </tr>

        <tr *ngIf="event['environment']['runtime_version']">
            <th>{{ 'Runtime Version' | translate }}</th>
            <td>{{ event['environment']['runtime_version'] }}</td>
        </tr>

        <tr *ngIf="event['environment']['process_id']">
            <th>{{ 'Process ID' | translate }}</th>
            <td>{{ event['environment']['process_id'] }}</td>
        </tr>

        <tr *ngIf="event['environment']['process_name']">
            <th>{{ 'Process Name' | translate }}</th>
            <td><span truncate>{{ event['environment']['process_name'] }}</span></td>
        </tr>

        <tr *ngIf="event['environment']['command_line']">
            <th>{{ 'Command Line' | translate }}</th>
            <td><span truncate lines="2">{{ event['environment']['command_line'] }}</span></td>
        </tr>
    </table>

    <app-extended-data-item [title]="'Additional Data'" [data]="event['environment']['data']" (promoteTabParam)="tabPromote($event)" [showOptions]="false"></app-extended-data-item>
</ng-container>

<ng-container *ngIf="tab['template_key'] == 'error'">
    <h3 class="visible-print">{{ 'Exception' | translate }}</h3>

    <table class="table table-striped table-bordered table-fixed table-key-value b-t">
        <tr>
            <th>{{ 'Occurred On' | translate }}</th>
            <td>{{ event['date'] | date:'medium' }} (<app-timeago [date]="event['date']"></app-timeago>)</td>
        </tr>

        <tr>
            <th>{{ 'Error Type' | translate }}</th>
            <td><span truncate>{{ event['errorType'] }}</span></td>
        </tr>

        <tr>
            <th>{{ 'Message' | translate }}</th>
            <td><span truncate lines="10">{{ event['message'] }}</span></td>
        </tr>

        <tr *ngIf="event['data'] != null && event['data']['@error'] != null && event['data']['@error']['code'] != null">
            <th>{{ 'Code' | translate }}</th>
            <td><span truncate>{{ event['data']['@error']['code'] }}</span></td>
        </tr>

        <tr *ngIf="event['data'] != null && event['data']['@submission_method'] != null">
            <th>{{ 'Submission Method' | translate }}</th>
            <td><span truncate>{{ event['data']['@submission_method'] }}</span></td>
        </tr>
    </table>

    <div class="pull-right m-t-xs hidden-print">
        <a ngxClipboard [cbContent]="textStackTrace" (cbOnSuccess)="copied()"[hidden]="!(textStackTrace && clipboardSupported)" class="btn btn-default btn-xs fa fa-code hidden-xs" role="button" title="{{ 'Copy Stack Trace to Clipboard' | translate }}"></a>
    </div>

    <h3>{{ 'Stack Trace' | translate }}</h3>

    <app-stack-trace [exception]="event['data']['@error']" [textStackTrace]="textStackTrace"></app-stack-trace>

    <!--<app-extended-data-item [can-promote]="false" [title]="'Additional Data'" [data]="event['data']['@error']['data']['@ext']"></app-extended-data-item>-->

    <div *ngIf="event['data'] != null && event['data']['@error'] != null && event['data']['@error']['modules'] != null">
        <h4>{{ 'Loaded Modules' | translate }}</h4>
        <table class="table table-striped table-bordered table-fixed b-t">
            <thead>
                <tr>
                    <th>{{ 'Module Name' | translate }}</th>
                    <th class="version">{{ 'Version' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let module of event['data']['@error']['modules']">
                    <td><span truncate>{{ module['name'] }}</span></td>
                    <td>{{ module['version'] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>

<ng-container *ngIf="tab['template_key'] == 'request'">
    <h3 class="visible-print">{{ 'Request' | translate }}</h3>
    <table class="table table-striped table-bordered table-fixed table-key-value b-t">
        <tr>
            <th>{{ 'Occurred On' | translate }}</th>
            <td>{{ event['date'] | date:'medium' }} (<app-timeago [date]="event['date']"></app-timeago>)</td>
        </tr>

        <tr *ngIf="event['request']['http_method']">
            <th>{{ 'HTTP Method' | translate }}</th>
            <td>{{ event['request']['http_method'] }}</td>
        </tr>

        <tr *ngIf="event['requestUrl']">
            <th>{{ 'URL' | translate }}</th>
            <td><a href="#" target="_blank" truncate>{{ event['requestUrl'] }}</a></td>
        </tr>

        <tr>
            <th>{{ 'Referrer' | translate }}</th>
            <td>
            <span *ngIf="event['request']['referrer']">
                <a href="#" target="_blank" truncate>{{ event['request']['referrer'] }}</a>
            </span>
                <em *ngIf="!event['request']['referrer']">None</em>
            </td>
        </tr>

        <tr *ngIf="event['request']['client_ip_address']">
            <th>{{ 'Client IP' | translate }}</th>
            <td>{{ event['request']['client_ip_address'] }}</td>
        </tr>

        <tr *ngIf="event['request']['user_agent']">
            <th>{{ 'User Agent' | translate }}</th>
            <td><span truncate lines="2">{{ event['request']['user_agent'] }}</span></td>
        </tr>

        <tr class="hidden-print" *ngIf="event['request']['data'] != null && event['request']['data']['@device'] != null">
            <th>{{ 'Device' | translate }}</th>
            <td>{{ event['request']['data']['@device'] }}</td>
        </tr>

        <tr class="hidden-print" *ngIf="event['request']['data'] != null && event['request']['data']['@browser'] != null">
            <th>{{ 'Browser' | translate }}</th>
            <td>{{ event['request']['data']['@browser' ]}} <abbr *ngIf="event['request']['data']['@browser_major_version']" title="{{ event['request']['data']['@browser_version']}}">{{ event['request']['data']['@browser_major_version'] }}</abbr></td>
        </tr>

        <tr class="hidden-print" *ngIf="event['request']['data'] != null && event['request']['data']['@os'] != null">
            <th>{{ 'Browser OS' | translate }}</th>
            <td>{{ event['request']['data']['@os'] }} <abbr *ngIf="event['request']['data']['@os_major_version']" title="{{ event['request']['data']['@os_version'] }}">{{ event['request']['data']['@os_major_version'] }}</abbr></td>
        </tr>
    </table>

    <!--<extended-data-item [can-promote]="false" [title]="'Post Data'" [data]="request['post_data']"></extended-data-item>-->

    <div *ngIf="hasCookies">
        <h4>{{ 'Cookie Values' | translate }}</h4>

        <table class="table table-striped table-bordered table-fixed table-key-value b-t">
            <thead>
                <tr>
                    <th>{{ 'Name' | translate }}</th>
                    <th>{{ 'Value' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let key of event['request']['cookies'] | ObjNgFor">
                    <td>{{ key }}</td>
                    <td><span truncate lines="3">{{ event['request']['cookies'][key] }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--<app-extended-data-item [can-promote]="false" [title]="'Additional Data'" [data]="request['data']" [excluded-keys]="excludedAdditionalData"></app-extended-data-item>-->
</ng-container>

<ng-container *ngIf="tab['template_key'] == 'session'">
    <div class="hidden-print">
        <div *ngIf="!project['has_premium_features']">
            <div class="alert alert-danger alert-banner m-b-none">
                <h4><a ng-click="appVm.changePlan(vm.project.organization_id)">{{ project['organization_name'] }}</a> {{ 'is attempting to use a premium feature.' | translate }}</h4>

                <p><a ng-click="appVm.changePlan(vm.project.organization_id)">{{ 'Upgrade now' | translate }}</a> {{ 'to enable sessions and other premium features!' | translate }}</p>
            </div>
            <br />
        </div>

        <table class="table table-striped table-bordered table-fixed table-key-value b-t">
            <tr>
                <th>{{ 'Occurred On' | translate }}</th>
                <td>{{ event['date'] | date:'medium' }} (<app-timeago [date]="event['date']"></app-timeago>)</td>
            </tr>
            <tr *ngIf="isSessionStart">
                <th>{{ 'Duration' | translate }}</th>
                <td>
                    <span *ngIf="!event['data']['sessionend']" class="glyphicon glyphicon-one-fine-dot glyphicon-green" title="Online"></span>
                    <abbr title="Seconds"><app-duration [value]="getDuration(event)"></app-duration></abbr>
                    <span *ngIf="event['data']['sessionend']">(ended <app-timeago [date]="event['data']['sessionend']"></app-timeago>)</span>
                </td>
            </tr>
        </table>

        <h3>{{ 'Session Events' | translate }}</h3>
        <app-events [settings]="sessionEvents" [currentEvent]="event"></app-events>
    </div>
</ng-container>

<ng-container *ngIf="tab['template_key'] == 'simple-error'">
    <table class="table table-striped table-bordered table-fixed table-key-value b-t">
        <tr>
            <th>{{ 'Occurred On' | translate }}</th>
            <td>{{ event['date'] | date:'medium' }} (<app-timeago [date]="event['date']"></app-timeago>)</td>
        </tr>
        <tr>
            <th>{{ 'Error Type' | translate }}</th>
            <td><span truncate>{{ errorType }}</span></td>
        </tr>
        <tr>
            <th>{{ 'Message' | translate }}</th>
            <td><span truncate lines="4">{{ message }}</span></td>
        </tr>
        <tr *ngIf="event['data']['@submission_method']">
            <th>{{ 'Submission Method' | translate }}</th>
            <td><span truncate>{{ event['data']['@submission_method'] }}</span></td>
        </tr>
    </table>

    <div class="pull-right m-t-xs hidden-print">
        <a ngxClipboard [cbContent]="textStackTrace" (cbOnSuccess)="copied()" [hidden]="!(textStackTrace && clipboardSupported)" class="btn btn-default btn-xs fa fa-code hidden-xs" role="button" title="{{ 'Copy Stack Trace to Clipboard' | translate }}"></a>
    </div>

    <h3>{{ 'Stack Trace' | translate }}</h3>

    <app-simple-stack-trace [exception]="event['data']['@simple_error']" [textStackTrace]="textStackTrace"></app-simple-stack-trace>

    <!--<app-extended-data-item [can-promote]="false" [title]="'Additional Data'" [data]="event['data']['@error']['data']"></app-extended-data-item>-->
</ng-container>

<ng-container *ngIf="tab['template_key'] == 'extended-data'">
    <table class="table table-striped table-bordered table-fixed table-key-value b-t">
        <tr>
            <th>{{ 'Occurred On' | translate }}</th>
            <td>{{ event['date'] | date:'medium' }} (<app-timeago [date]="event['date']"></app-timeago>)</td>
        </tr>
    </table>

    <ng-container *ngFor="let item of tab['data']">
        <app-extended-data-item [title]="item['title']" [data]="item['data']" (promoteTabParam)="tabPromote($event)"></app-extended-data-item>
    </ng-container>
</ng-container>

<ng-container  *ngIf="isPromotedTab()">
    <table class="table table-striped table-bordered table-fixed table-key-value b-t">
        <tr>
            <th>{{ 'Occurred On' | translate }}</th>
            <td>{{ event['date'] | date:'medium' }} (<app-timeago [date]="event['date']"></app-timeago>)</td>
        </tr>
    </table>
    <app-extended-data-item [title]="tab['title']" [data]="tab['data']" (demoteTabParam)="tabDemote($event)" [isPromoted]="true"></app-extended-data-item>
</ng-container>
