name: Build
on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 0
    - name: Build Reason
      run: "echo ref: ${{github.ref}} event: ${{github.event_name}}"
    - name: Build Version
      id: version
      uses: thefringeninja/action-minver@2.0.0-preview1
      with:
        tag-prefix: v
    - name: Build
      run: |
        docker build --target testrunner -t exceptionless:test .
        docker run exceptionless:test
        docker build --build-arg UI_VERSION=${{ steps.version.outputs.version }} --target ui -t ex-ui .
    - name: Log in to GitHub Packages
      run: echo ${{ secrets.GITHUB_TOKEN }} | docker login docker.pkg.github.com --username ${{ github.actor }} --password-stdin
    - name: Log in to Docker Hub
      if: github.event_name != 'pull_request'
      run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin
    - name: Push CI Packages
      if: github.event_name != 'pull_request'
      run: |
        # tag and push docker image
        for tag in {${{ steps.version.outputs.version }},latest}; do
          docker tag ex-ui docker.pkg.github.com/exceptionless/exceptionless/ui:$tag
          docker push docker.pkg.github.com/exceptionless/exceptionless/ui:$tag
        done
        for tag in {${{ steps.version.outputs.version }},latest}; do
          docker tag ex-ui exceptionless/ui-ci:$tag
          docker push exceptionless/ui-ci:$tag
        done
    - name: Publish Release Packages
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        # tag and push docker image
        for tag in {${{ steps.version.outputs.version }},latest}; do
          docker tag ex-ui exceptionless/ui:$tag
          docker push exceptionless/ui:$tag
        done
    - name: Install Kubectl
      if: github.event_name != 'pull_request'
      uses: azure/setup-kubectl@v1
    - name: Deploy Changes to Development Environment
      if: github.ref == 'refs/heads/feature/discard' && github.event_name != 'pull_request'
      run: |
        az login --service-principal --username ${{ secrets.AZ_USERNAME }} --password ${{ secrets.AZ_PASSWORD }} --tenant ${{ secrets.AZ_TENANT }} --output none
        az aks get-credentials --resource-group exceptionless-v6 --name ex-k8s-v6
        #helm upgrade --set "api.image.tag=${{ steps.version.outputs.version }}" --set "jobs.image.tag=${{ steps.version.outputs.version }}" --reuse-values --values ./k8s/ex-dev-values.yaml ex-dev --namespace ex-dev ./k8s/exceptionless
    - name: Deploy Changes to Production Environment
      if: github.ref == 'refs/heads/master' && github.event_name != 'pull_request'
      run: |
        az login --service-principal --username ${{ secrets.AZ_USERNAME }} --password ${{ secrets.AZ_PASSWORD }} --tenant ${{ secrets.AZ_TENANT }} --output none
        az aks get-credentials --resource-group exceptionless-v6 --name ex-k8s-v6
        #helm upgrade --set "api.image.tag=${{ steps.version.outputs.version }}" --set "jobs.image.tag=${{ steps.version.outputs.version }}" --reuse-values --values ./k8s/ex-prod-values.yaml ex-prod --namespace ex-prod ./k8s/exceptionless
    - name: Upload Artifacts
      uses: actions/upload-artifact@v1.0.0
      with:
        name: artifacts
        path: artifacts
